div:focus {outline:0 !important;}

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
  -webkit-padding-start: 0px;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;

}

.autocomplete li.selectable{
  padding-left:2em;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

.btn {
  white-space: normal;
}

.timepicker {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.clear-btn {
  position: absolute;
  top: .5em;
  right: 1.5em;
  cursor: pointer;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

}

.rounded-border {
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list_itineraries .row-eq-height{
  padding: 10px;
}

.row-eq-height [class*=col] {
  padding: 0px;
}

.list_itineraries [class*=col] {
  margin-right: 10px;
}

.truncate h1,
.truncate h2,
.truncate h3,
.truncate h4,
.truncate h5,
.truncate h6{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.confirm p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

.bus_options .row {
  margin-left: -1em;
  margin-right: -1em;
}

.no_underline{
  text-decoration: none !important;
  color: inherit !important;

  padding:0.4em;}


@charset "utf-8";
/* CSS Document */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .fonts
  {
    font-size: 75%;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  .fonts
  {
    font-size: 120%;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .fonts
  {
    font-size: 120%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .fonts
  {
    font-size: 120%;
  }
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .fonts
  {
    font-size: 150%;
  }
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .fonts
  {
    font-size: 120%;
  }
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .fonts
  {
    font-size: 156%;
  }
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  .fonts
  {
    font-size: 200%;
  }
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .fonts
  {
    font-size: 190%;
  }
}

.waypoint {
  z-index: 999;
  font-size: 2em; background: white;
  margin-top: 0.2em;
  margin-left: -16px;
}

.mode_walk > .row > [class*='col-']:nth-child(2):before {
  width: 5px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAACACAYAAADDEqOOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABESURBVEhL7c8xDgAgCEPR4sm9n94JF+LQycSkOvQtECZ+YGQHCczM2rdW843zly6PMi4iLhJwEXGRgIuIiwRcRL4rAhaEQCb9w6AeBAAAAABJRU5ErkJggg==) repeat;
  bottom: 0;
  content: " ";
  left: 8px;
  position: absolute;
  top: 10px;
  height: 100%;
  z-index: -1;
}

.mode_bus > .row > [class*='col-']:nth-child(2):before {
  width: 5px;
  background: #852303;
  bottom: 0;
  content: " ";
  left: 8px;
  position: absolute;
  top: 10px;
  height: 100%;
  z-index: -1;
}

.mode_walk > .row > [class*='col-']:first-child:before {
  width: 40px;
  height: 40px;
  background: url(../images/modes/walk.png) repeat;
  top: calc(50% - 1em);
  content: " ";
  position: absolute;
  right: calc(16% + 10px);
}

.mode_bus > .row > [class*='col-']:first-child:before {
  width: 40px;
  height: 40px;
  background: url(../images/modes/transit.png) repeat;
  top: calc(50% - 1em);
  content: " ";
  position: absolute;
  right: calc(16% + 10px);
}




.mode_icon {
  position: relative;
  top: calc(50%);
}

.row-same-height {
  /*width: 100%;
  table-layout: fixed;*/
}

.mode_icon {
  top: calc(50% + .5em);
  position: absolute;
  z-index: -1;
  left: -30px;
}

.start_time {
  position: absolute;
  left: -3em;
  top:2px;
}

.leg-header {
  padding: 0px;
  background-color: #F2F2F2;
  border: 1px solid #E4E4E4;
  border-right: 0px;
}

.transit-header {
  padding: 1em;
  background-color: #F2F2F2;
  z-index: auto;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 1em;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.timeline {
  margin: 0px;
}

.transit-container {
  border: 1px solid #E4E4E4;
  border-bottom: 0px;
}

.transit-body {
  border: 1px solid #E4E4E4;
  border-top: 0px;
  padding: 0px;
}

.mode_walk i {
  color: #20C0FF;
}

.mode_bus i {
  color: #852303;
}

.leg-info {
  padding-right: 0px;
}

.leg-info .row{
  margin: 0px;
}

.bus-info, .walk-info {
  display: table;
  width: 100%;
  /*padding-right:40px;*/
}

.walk-arrow {
  position: absolute;
  left: 0em;
}


.timeline > .row > [class*='col-'] {

}


.even-height-row {
  display: table;
  width: 100%;
  margin-left: 0px !important;
}

.left-side {
  vertical-align: top;
  float: none;
  display: table-cell;
  width: 100%;
}

.right-side {
  vertical-align: top;
  float: none;
  display: table-cell;
}
