/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.selectable{
  padding-left:2em;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

.btn {
  white-space: normal;
}

.timepicker {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.clear-btn {
  position: absolute;
  top: 12px;
  right: 25px;
  cursor: pointer;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
}


.row-eq-height [class*=col] {
  padding: 0px;
}

.truncate h1,
.truncate h2,
.truncate h3,
.truncate h4,
.truncate h5,
.truncate h6{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.confirm p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}
