$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// KIOSK COLORS
$white: #fff;
$black: #000;
$gray1: #f2f2f2;
$gray2: #e6e6e6;
$gray3: #d1cfcd;
$gray4: #a49f9b;
$gray5: #7d7874;
$gray6: #45413d;
$red: #f34c51;
$blue: #00b8d0;
$green: #03763a;
$yellow: #fdd73e;
$live-yellow: #fffc66;

$kioskfonts: "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  font-family: 'Avenir Next', Helvetica, sans-serif;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.radio:first-of-type {
  margin-top: 3px;
}

.navbar-brand {
  height: 50px;
  margin: 0;
  padding: 3px 0 0 3px;
  line-height: 50px;
  img {
    // height: 47px;
    display: inline-block;
    height: 37px;
    vertical-align: middle;
  }
}

.jumbotron {
  margin-top: 14px;
  padding-top: 1em;
}

.navbar {
  // background-image: url('../images/CURVY-LINES-1.jpg');
  i {
    font-size: 3em;
    color: #03763a;
  }
  .navbar-icon {
    padding-bottom: 0;
    padding-top: 5px;
  }
}

.navbar-toggle {
  margin-right: 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}



.from-card.ng-hide-add, .from-card.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}

.from-card.ng-hide-add-active,
.from-card.ng-hide-remove-active {
  /* the transition is defined in the active class */
  transition: 0.1s linear all;
}


.action-button {
  margin-top: 1em;
  button {
    font-size: 3em;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
    @media(max-width:$screen-sm-max) {
      font-size: 2em;
    }
  }

}

#map {
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    // font-size: 21px;
    // padding: 14px 24px;
  }
}

.marketing {
  h1 {
    font-size: 3em;
  }

  .btn {
    margin-bottom: 15px;
  }

  .logo-image, .logo-text {
    margin-bottom: 15px;
  }
  .logo-image {
    background-image: url('../images/bus.png');
    width: 81px;
    height: 79px;
  }
  @media(max-width:$screen-sm-max) {
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 16px;
    }
    .btn {
      font-size: 1.2em;
    }
    .logo-text {
      background-image: url('../images/words-200w.png');
      width: 200px;
      height: 33px;
    }
    // font-size: $font-size-phone;
    // font-family: $font-family-phone;
  }
  @media(min-width:$screen-md-min) {
    .btn {
      font-size: 2em;
    }
    .logo-text {
      background-image: url('../images/words.png');
      width: 393px;
      height: 65px;
    }
    // font-size: $font-size-tablet;
    // font-family: $font-family-tablet;
  }
  // @media(min-width:$screen-sm-min) and (max-width:$screen-sm-max){
  //   // font-size: $font-size-tablet;
  //   // font-family: $font-family-tablet;
  // }
}

.btn {
  box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
}

.debug {
  visibility: hidden;
}

.todo {
  background-color: yellow;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

// TODO Can probably delete everything after this

// /* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }

//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }

.plan {
  .card {
    border: 1px solid #d8d8d8;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    .title {
      background-color: #d8d8d8;
    }
  }
}

.angucomplete-dropdown {
  width: 100%;
}

.time {
  border: 1px solid #ddd;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.time.selected {
  box-shadow:0px 0px 0px 5px $green inset;
}

.plan2-button {
  box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
  @media(max-width:$screen-sm-max) {
    line-height: 28px;
    .fa-chevron-right {
      margin-left: 1px;
      margin-top: 1px;
    }
  }
  @media(min-width:$screen-md-min) {
    font-size: 2em;
    line-height: 56px;
    .fa-chevron-right {
      margin-left: 3px;
      margin-top: 1px;
    }
  }
  margin-bottom: 10px;
}

.spinner{margin-top: 10em;}
.angular-google-map-container { height: 400px; }


.map-canvas > div {
  position:absolute !important;
}

@media(min-width:$screen-md-min) {
  .bus_options{
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.8em;
  }

  .map-canvas {
    min-height: 500px;
    height: auto !important;
    margin-top:1em;
  }
}

@media(max-width:$screen-sm-max) {
  .map-canvas {
    min-height: 275px;
    height: auto !important;
    margin-top:1em;
  }
}

#walk, #transit, #transit-confirm, #itinerary, #paratransit {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .col-xs-12.text-muted.ng-binding {
    margin: 5px;
  }
}

.link-btn {
  text-decoration: underline;
}

#logo-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;

  & #flex-container { opacity: 0.75; }
}

a.login-btns .btn-branded {
  height: 4.5em;
  margin: 1em 0 1em 0;
  font-size: 1em;
  color: white;
}

.btn.btn-blue, .btn-blue:active:hover, .btn-blue:active:focus, .btn-blue:active.focus, .btn-blue.active:hover, .btn-blue.active:focus, .btn-blue.active.focus, .open > .btn-blue.dropdown-toggle:hover, .open > .btn-blue.dropdown-toggle:focus, .open > .btn-blue.dropdown-toggle.focus {
  color:#EEE;
  background-color: #19487D;
}


.btn-green { background-color: #00884B; color: #fff;}
.btn-grey { background-color: #828282; color: #fff;}

img.official-logo {
  height: 3em;
  margin-top: 1em;

  &:nth-child(2) {
    margin: 1em 1em 0 1em;
  }
}

@media(min-width:$screen-md-min) {
  body { font-size: 16px; }
}
@media(max-height: 530px) {
  #logo-footer { display: none; }
}
@media(min-width:$screen-xs-min) and (orientation:landscape) {
  img.official-logo { height: 4em; }
}
@media(min-width:$screen-sm-min) and (orientation:portrait) {
  img.official-logo { height: 5em; }
}
@media(min-width:$screen-md-min) {
  img.official-logo { height: 5em; }
}

.btn{
  font-size: 18px;
  padding: 12px 16px;
}
.btn.btn-primary, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color:#EEE;
  background-color: #14834D;
}
.btn.btn-primary,
.btn.btn-next{
  text-decoration: none;
}
.btn.disabled{
  background-color: #BBB;
  color: #FFF;
  text-decoration: none;
}

.btn-spacing .btn{
    margin-top: .85em;
}

.btn-spacing{
  margin-bottom: 3em;
}

::selection {
  background: rgb(177,215,254);
}
::-moz-selection {
  background: rgb(177,215,254);
}


.from-to-where input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}
.from-to-where input:focus::-webkit-input-placeholder {
  color: black;
  opacity: .4;
}
.from-to-where input:-moz-placeholder {
  color: black;
  opacity: 1;
}
.from-to-where input:focus:-moz-placeholder {
  color: black;
  opacity: .4;
}
.from-to-where input::-moz-placeholder {
  color: black;
  opacity: 1;
}
.from-to-where input:focus::-moz-placeholder {
  color: black;
  opacity: .4;
}
.from-to-where input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}
.from-to-where input:focus:-ms-input-placeholder {
  color: black;
  opacity: .4;
}

.cs-two-week-date-picker{
  .week{
    display:flex;
    flex-flow:row;
  }

  .day{
    display:inline-block;
    width:14.25%;
    background-color: #1a27f6;
    color: #FFF;
    border: 1px solid #EEE;
    padding: 15px 0px;
    text-align:center;
    font-weight:bold;
  }
  .week.names .day{
    font-weight:initial;
  }
  .day.selected{
    color: #FFF;
    background-color:#000;
  }
  .day.today,
  .day.disabled,
  .day.different-month{
    pointer-events:none;
    cursor:default;
    color:#AAA;
    background-color:#DDD;
  }
  .month-heading{
    color: unset;
    background-color:unset;
    padding:3px;
  }
  .month{
    padding-top:7px;
  }
}

input,
button{
  outline:none;
}
.cs-time-input{
  display:flex;
  flex-flow:row;
}
.cs-time-input .cs-hour{
  border-right:none;
  padding-right:3px;
  width:2em;
  text-align:right;
}
.cs-time-input .seperator-hour-minute{
  z-index:20;
  padding-top: 7px;
  display:inline-block;
}
.cs-time-input .cs-minute{
  border-left:none;
  padding-left:10px;
  width:3em;
  margin-left:-5px;
}
.cs-time-input input.cs-ampm{
  opacity: 0;
  width: 0px;
}
.cs-time-input input.cs-ampm + .cs-ampmspan::after{
  display: inline-block;
  content:'PM';
  border:1px solid #CCC;
  padding: 4px;
  border-radius: 4px;
}
.cs-time-input input.cs-ampm:checked + .cs-ampmspan::after{
  content:'AM';
}
.time-when select.disabled{
  pointer-events:none;
}

#LoginTemplate, #LookupIdTemplate {

  .dob .invalid {
   border:1px solid red;
   background-color:pink;
  }

  .dob {
    display:inline-block;
  }

  .dob.month, .dob.day {
    width: 3em;
    padding:6px;
  }

  .dob.year {
    width: 6em;
  }
}

i.cs-map-marker{
  display:inline-block;
  width:20px;
  height:30px;
  background-repeat:no-repeat;
  background-size: contain;
}
i.cs-map-marker.B{
  background-image: url(//maps.google.com/mapfiles/markerB.png);
}
i.cs-map-marker.A{
  background-image: url(//maps.google.com/mapfiles/marker_greenA.png);
}

.autocomplete ul{
  padding:0px;
}

.btn.btn-primary:focus{
  border-color: rgb(31, 202,35);
  background-color: rgb(31, 202,35);
}

.rounded-border{
  border-color: lightgray !important;
}
.bus-options-right{
  border: 1px solid lightgray;
  margin: 0px;
  padding: 7px 3px;
  border-top: none;
  border-right: none;
  overflow: auto;
}
.unstuck-foot{
  margin-bottom:30px;
  @media only screen and (max-device-width: 480px){
    position:relative;
  }
}

#PlanTemplate,
#transit.container{
  @media only screen and (max-device-width: 480px){
    margin:0px -30px !important;
  }
}

ul.bus-nav-tabs.nav-tabs {

  display:flex;
  flex-wrap:wrap;

  li{
    flex-grow:1;
    min-width:20%;
  }
  li .btn{
    padding: 12px 14px;
    box-shadow:unset;
    color:#337ab7;
    width:100%;
    border-radius:0px;
    border-bottom: 1px solid #d3d3d3;
  }
  li.active {
    border-bottom: unset;
    outline-width: 0;

    .btn{
      color:black;
      background-color: #f5f5f5;
      border:1px solid #d3d3d3;
      border-bottom:none;
    }
  }
}

.tab1 { margin-left: 1.5em; }
.tab2 { margin-left: 3.0em; }
.tab3 { margin-left: 4.5em; }
.tab4 { margin-left: 6.0em; }

// LiveTrip stylings
.badge.live-trip {
  background-color: $live-yellow;
  box-shadow: 0 0 5px gray;
}

.myride.live-trip {
  background-color: $live-yellow;
  box-shadow: 0 0 10px silver;
  &:hover {
    background-color: darken($live-yellow, 7%);
  }
}

.card {
  border: 1px solid #E4E4E4;
}

#itinerary .row.live-trip {
  background-color: $live-yellow;
}

#trip-notification-prefs {
  padding: 1em 1em 0 1em;

  .trip-notif-form-group {
    display: flex;
    align-items: center;
    margin: 1em 0;
  }

  label.form-check-label {
    margin: 0;
  }
  label.form-check-label.disabled {
    margin: 0;
    color: lightgrey;
  }
  input.form-check-input {
    margin: 0 4px 0;
    width: 30px;
    height: 30px;
  }

  button.btn.btn-primary {
    margin: 1em 0;
  }
}
