// Height Tokens
// Used for commons space between elements
// TODO make these based on REMs

$token-1: 13px;
$token-2: 18px;
$token-3: 21px;
$token-4: 23px;
$token-5: 35px;
$token-6: 46px;
$token-7: 72px;
