<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>FindMyRidePA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->

    <!-- Deployed version: deployed_version -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/calendar.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/autocomplete.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <base href="/">
    <script>
      //initialize APIHOST by depending on environment
      var APIHOST = (function( docHost )
      {
        var env = docHost.match(/^findmyridepa2-(.+)\.camsys-apps\.com$/);
        var apiHosts = {
          'demo': 'oneclick-pa-demo.camsys-apps.com',
          'dev': 'oneclick-pa-dev.camsys-apps.com',
          'qa': 'oneclick-pa-qa.camsys-apps.com'
        };
        //use docHost by default, for local environments
        if(!env || !env[1]){
          return docHost;
        }
        return apiHosts[ env[1] ];
      }( document.location.hostname ));
    </script>
  </head>
  <body ng-app="applyMyRideApp" ng-controller="NavbarController">
    <div style="position:absolute; bottom:1px;" ng-hide="true == debugoff">v2.0.2-s.10-rc.4</div>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-show="showNavbar()" class="navbar navbar-default navbar-static-top" style="box-shadow: 0px 2px 8px rgba(0,0,0,0.4); margin-bottom: 1em;">
     <div class="container-fluid">
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/">
                <img ng-src="images/FMR.png"/>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li ng-show="email">
                  <a class="navbar-icon" href="#/plan/my_rides?navbar=true" style="margin-top: .5em;">
                    My Rides <div class="badge alert-success">{{rideCount}}</div>
                  </a>
                </li>
                <li ng-show="email">
                  <a class="navbar-icon" href="#/profile" style="margin-top: .5em;">
                    {{first_name}} {{last_name}}
                  </a>
                </li>
                <li ng-show="email">
                  <a class="navbar-icon" ng-click="logout()" href="" style="margin-top: .5em;">
                    Sign out
                  </a>
                </li>
                <li ng-show="!email">
                  <a class="navbar-icon" href="#/login" style="margin-top: .5em;">
                    Sign in
                  </a>
                </li>
                <li>
                  <a class="navbar-icon" ng-click="reset()" style="cursor: pointer; margin-top: .5em;" href="">
                    New trip
                  </a>
                </li>
                <li>
                  <a class="navbar-icon" href="#/about" style="margin-top: .5em;">
                    About
                  </a>
                </li>
              </ul>
            </div>
        </nav>
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container-fluid">
        <div class="alert alert-success alert-dismissible" role="alert" ng-show="flash.getMessage()" ng-cloak>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash.getMessage() }}
        </div>

      <div style="position: relative;">
        <div ng-view="" class="at-view-fade-in at-view-fade-out"></div>
      </div>
    </div>

    <div class="debug footer">
    <div class="container">
    <div class="visible-xs-block">visible-xs-block</div>
    <div class="visible-xs-inline">visible-xs-inline</div>
    <div class="visible-xs-inline-block">visible-xs-inline-block</div>
    <div class="visible-sm-block">visible-sm-block</div>
    <div class="visible-sm-inline">visible-sm-inline</div>
    <div class="visible-sm-inline-block">visible-sm-inline-block</div>
    <div class="visible-md-block">visible-md-block</div>
    <div class="visible-md-inline">visible-md-inline</div>
    <div class="visible-md-inline-block">visible-md-inline-block</div>
    <div class="visible-lg-block">visible-lg-block</div>
    <div class="visible-lg-inline">visible-lg-inline</div>
    <div class="visible-lg-inline-block">visible-lg-inline-block</div>
    </div>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- htmlmin:ignore -->
    <!-- <script src="cordova.js"></script> -->
    <!-- htmlmin:ignore -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/re-tree/re-tree.js"></script>
    <script src="bower_components/ng-device-detector/ng-device-detector.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/ngBootbox/dist/ngBootbox.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/plan.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/transit.js"></script>
        <script src="scripts/controllers/paratransit.js"></script>
        <script src="scripts/controllers/walk.js"></script>
        <script src="scripts/controllers/taxi.js"></script>
        <script src="scripts/controllers/uber.js"></script>
        <script src="scripts/controllers/itinerary.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/directives/clearinput.js"></script>
        <script src="scripts/directives/birthdaypicker.js"></script>
        <script src="scripts/services/filters.js"></script>
        <script src="scripts/services/plan.js"></script>
        <script src="scripts/services/util.js"></script>
        <script src="scripts/directives/calendar.js"></script>
        <script src="scripts/directives/time.js"></script>
        <script src="scripts/directives/clickFocus.js"></script>
        <script src="scripts/directives/csTimeInput.js"></script>
        <script src="scripts/directives/autocomplete.js"></script>
        <script src="scripts/directives/enter.js"></script>
        <script src="scripts/directives/autofocus.js"></script>
        <!-- endbuild -->

        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDdpyfym0ylu7GMq6_dTWpEA2u8lmuvnfY&libraries=places"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77824843-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
