.row.marketing
  .col-xs-12
    .jumbotron
      %h1 More About FindMyRide PA

      %p Pennsylvania provides discounted share ride and fixed route transit services to seniors, veterans, and persons with medical needs. FindMyRidePA helps you apply for, plan, and schedule these services.

      %a.center-block.btn.btn-success{"ng-href" => "#/questions/0"}
        Sign Up
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/plan"}
        Try It Out
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/"}
        I'm All Set
        %span{ng: {include: "'views/button-chevron-right.html'"}}
