.row
  %form{name: 'loginForm', novalidate: 'novalidate', ng: {model: 'login'}}
    .col-xs-12
      .form-group
        %label
          Email or SharedRide ID
        %input.form-control{name: 'emailOrId', ng: {model: 'login.emailOrId', required: 'true', change: 'detectLoginType()'}}

      .form-group{ng: {show: 'isEmail'}}
        %label
          Password
        %input.form-control{name: 'password', type: 'password', ng: {required: 'isEmail'}}

      .form-group{ng: {show: 'isSharedRideId'}}
        %label
          Date of birth
        %input.form-control{name: 'birthDate', type: 'date', placeholder: 'YYYY-mm-dd', ng: {required: 'isSharedRideId'}}

      .form-group
        .checkbox
          %label
            %input{type: 'checkbox'}
              Save my info


.row.action-button
  .col-xs-12
    %button.pull-right.btn.btn-success{type: 'submit', ng: {click: "login()", disabled: "{{loginForm.$invalid}}", class: '{disabled: loginForm.$invalid}'}}
      Next Step
      %span.fa-stack
        %i.fa.fa-circle-thin.fa-stack-2x
        %i.fa.fa-chevron-right.fa-stack-1x{style: "margin-left: 5px; margin-top: 2px;"}
