.row
  .col-xs-12
    .jumbotron.marketing
      .center-block.logo-image
      .center-block.logo-text
      %a.center-block.btn.btn-success{"ng-href" => "#/login"}
        Sign In
        / TODO This should be a directive methinks
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/register"}
        Sign Up
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/trip-plan-2"}
        Try It Out
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/learnmore"}
        Learn More
        %span{ng: {include: "'views/button-chevron-right.html'"}}
