.jumbotron
  %h1 Find My Ride
  %p.lead
    PennDOT
  %p
    %a.btn.btn-lg.btn-success{"ng-href" => "#/questions"}
      Start application
      %span.glyphicon.glyphicon-ok
/ .row.marketing
/   %h4 HTML5 Boilerplate
/   %p
/     HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
/   %h4 Angular
/   %p
/     AngularJS is a toolset for building the framework most suited to your application development.
/   %h4 Karma
/   %p Spectacular Test Runner for JavaScript.
