.jumbotron
  %p
    %img{ng: {src: "images/bus.png"}}
  %p
    %img{ng: {src: "images/words.png"}}
  %p
    %a.btn.btn-success{style: "box-shadow: 0px 2px 8px rgba(0,0,0,0.4)", "ng-href" => "#/questions/0"}
      Start my application for paratransit services
      %span.fa-stack
        %i.fa.fa-circle-thin.fa-stack-2x
        %i.fa.fa-chevron-right.fa-stack-1x{style: "margin-left: 2px; margin-top: 2px;"}
