.container.plan{ng: {controller: "PlanController"}}
  .row
    .col-sm-6.col-sm-offset-3
      %button.btn.btn-success.btn-block.plan2-button{type: 'submit', ng: {click: "bus()"}}
        %span{style: "white-space:normal; display: inline-block;"}
          Ride the Bus
          $1.60
        %span.fa-stack.pull-right
          %i.fa.fa-circle-thin.fa-stack-2x
          %i.fa.fa-chevron-right.fa-stack-1x

  .row
    .col-sm-6.col-sm-offset-3
      %button.btn.btn-success.btn-block.plan2-button{type: 'submit', ng: {click: "sharedride()"}}
        Use Shared Ride
        $4.35
        %span.fa-stack.pull-right
          %i.fa.fa-circle-thin.fa-stack-2x
          %i.fa.fa-chevron-right.fa-stack-1x

  .row
    .col-sm-6.col-sm-offset-3
      %button.btn.btn-success.btn-block.plan2-button{type: 'submit', ng: {click: "moreoptions()"}}
        More Options
        %span.fa-stack.pull-right
          %i.fa.fa-circle-thin.fa-stack-2x
          %i.fa.fa-chevron-right.fa-stack-1x
