.container.plan{ng: {controller: "PlanController"}}
  .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
    %b API Error :
    %span {{ apiStatus }}

  .row.card{ng: {show: 'plan.from'}}
    .col-xs-12
      .row
        .col-xs-3.title
          From
        .col-xs-9
          {{ plan.from }}
          .pull-right
            %i.fa.fa-map-marker

  .row.card{ng: {show: 'plan.to'}}
    .col-xs-12
      .row
        .col-xs-3.title
          To
        .col-xs-9
          {{ plan.to }}
          .pull-right
            %i.fa.fa-map-marker

  .row.card{ng: {show: 'plan.depart'}}
    .col-xs-12
      .row
        .col-xs-3.title
          Depart
        .col-xs-9
          {{ plan.depart }}

  .row.card{ng: {show: 'plan.return'}}
    .col-xs-12
      .row
        .col-xs-3.title
          Return
        .col-xs-9
          {{ plan.return }}

  .use-current-location{ng: {show: 'useCurrentLocation==null'}}
    Start at your current location?
    %button.btn.btn-primary{ng: {click: 'useCurrentLocation = true'}}
      Yes
    %button.btn.btn-primary{ng: {click: 'useCurrentLocation = false'}}
      No

  %form.from-location{ng: {show: 'useCurrentLocation==false && plan.from==null'}}
    .form-group
      %label{for: "fromLocation"} Where are you starting from?
      %angucomplete-alt#ex1{placeholder: 'Address or place name', pause: "100", "selected-object" => "selectedCountry", "local-data" => "countries", "search-fields" => "name", "title-field" => "name", minlength: "1", "input-class" => "form-control"}
      / %input.form-control#fromLocation{placeholder: 'Address or place name', ng: {model: 'plan.fromChoices'}}

  {{ plan | json }}
