.plan{ng: {controller: "PlanController"}}
  .container
    .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
      %b API Error :
      %span {{ apiStatus }}

    .use-current-location{ng: {show: 'step==="start"'}}
      %h2 Start at your current location?
      %a.btn.btn-success{ng: {href: '#/plan/to'}}
        Yes
      %a.btn.btn-success{ng: {href: '#/plan/from'}}
        No

    %form.from-location{name: 'from_location', ng: {show: 'step==="from"'}}
      .form-group
        %label{for: "fromLocation"}
          %h2 Where are you starting from?
        %angucomplete-alt#fromLocation{placeholder: 'Enter address or place name', "selected-object" => "fromChoice", "local-data" => "addresses", "search-fields" => "place", "title-field" => "place", minlength: "1", "input-class" => "form-control", "input-changed" => "fromLocationChanged"}

    %form.to-location{ng: {show: 'step==="to"'}}
      .form-group
        %label{for: "toLocation"}
          %h2 Where are you going?
        %angucomplete-alt#toLocation{placeholder: 'Enter address or place name', "selected-object" => "toChoice", "local-data" => "addresses", "search-fields" => "place", "title-field" => "place", minlength: "1", "input-class" => "form-control"}

    .depart-date{ng: {show: 'step==="departDate"'}}
      %form
        .form-group
          %label{for: "departDate"}
            %h2 What day are you leaving?
          %input#departDate{date: 'date', ng: {model: 'plan.departDate'}}
      
      %cs-calendar{sdate: "plan.departDate"}

    .depart-time{ng: {show: 'step==="departTime"'}}
      %form
        .form-group
          %label{for: "departTime"}
            %h2 When are you leaving?
          %input#departTime{time: 'time', ng: {model: 'plan.departTime'}}
      
      %cs-time{stime: "plan.departTime"}

    .need-return-trip{ng: {show: 'step==="needReturnTrip"'}}
      %h2 Do you need a return trip?
      %a.btn.btn-success{ng: {href: '#/plan/returnDate'}}
        Yes
      %a.btn.btn-success{ng: {href: '#/plan/purpose'}}
        No

    .return-date{ng: {show: 'step==="returnDate"'}}
      %form
        .form-group
          %label{for: "departDate"}
            %h2 When do you want to return?
          %input#departDate{date: 'date', ng: {model: 'plan.returnDate'}}
      
      %cs-calendar{sdate: "plan.returnDate"}

    .return-time{ng: {show: 'step==="returnTime"'}}
      %form
        .form-group
          %label{for: "returnTime"}
            %h2 What time are you returning?
          %input#returnTime{time: 'time', ng: {model: 'plan.returnTime'}}
      
      %cs-time{stime: "plan.returnTime"}

    .purpose{ng: {show: 'step==="purpose"'}}
      %h2 What is your trip purpose?
      %form
        .radio{ng: {repeat: 'purpose in purposes'}}
          %label
            %input#optionsRadios1{name: "purposes", type: "radio", value: "{{purpose}}", ng: {checked: 'purpose==="Medical"', model: 'plan.purpose'}}
            {{ purpose }}
      
    .confirm{ng: {show: 'step==="confirm"'}}
      %h2 This is what you told us
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ planService.departDate.format('M/D/YYYY h:mm a') }}

      .row.card{ng: {show: 'planService.returnDate'}}
        .col-xs-12
          .row
            .col-xs-3.title
              Return At
            .col-xs-9
              {{ planService.returnDate.format('M/D/YYYY h:mm a') }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Purpose
            .col-xs-9
              {{ planService.purpose }}

  .container
    .pull-right
      .btn.btn-success{ng: {hide: 'plan.from==null', click: 'restartPlan()'}}
        %i.fa.fa-undo
      %a.btn.btn-success{ng: {show: 'showNext', click: 'next()', disabled: '{{notYet()}}', class: '{disabled: notYet()}'}}
        Next
        %span{ng: {include: "'views/button-chevron-right.html'"}}
      %a.btn.btn-success{ng: {href: "#/plan2", show: 'readyToPlan()'}}
        Plan My Trip
        %span{ng: {include: "'views/button-chevron-right.html'"}}

