.row.marketing
  .col-xs-12
    .jumbotron
      %p.todo
        SIGN UP TEXT TK FROM ERIC
      %h1 Introducing FindMyRide PA
      %p FindMyRidePA is a trip planner that helps you get where you need to go. Unlike other trip planners, FindMyRidePA shows you a range of options that include bus, taxi, shared ride and volunteer services. The more information you can provide about you and your trip, the more options you’ll see.
      %p Create an account to save your information and trip plans.
      %p If you’re a registered Shared Ride user, you can even use FindMyRidePA to plan and book your trip on line, without making a phone call. 

      %a.center-block.btn.btn-success{"ng-href" => "#/questions/0"}
        Get Started
        / TODO This should be a directive methinks
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/"}
        Not Now
        %span{ng: {include: "'views/button-chevron-right.html'"}}
