.row.marketing
  .col-xs-12
    .jumbotron
      %h1 Try Out FindMyRide PA

      %p Plan a trip to see how FindMyRidePA works. To see all your options and get the best possible price, fill out an application.

      %a.center-block.btn.btn-success{"ng-href" => "#/plan/start"}
        Try It Out Now
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/register"}
        Sign Up Now
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/"}
        I'm All Set
        %span{ng: {include: "'views/button-chevron-right.html'"}}

