%div
  %div{ng:{show:'isMobile()'}}
    %input{type:'time', placeholder:'HH:mm:ss', required:'', ng:{model:'rideTime.value', focus:'inputFocused=true'}}
  %div{class:'cs-time-input {{class}}', id:'{{id}}', ng:{hide:'isMobile()'}}
    %input{class:'cs-hour', type:'tel', placeholder:'hh', ng:{model:'hour', change:'updateTime("hour")', focus:'inputFocused=true'}, 'click-focus'=>'true'}
    .seperator-hour-minute
      &#58;
    %input{class:'cs-minute', type:'tel', placeholder:'mm', ng:{model:'minute', change:'updateTime("minute")', focus:'inputFocused=true', blur:'blurMinute()'}, 'attr-placeholder'=>'00', 'click-focus'=>'true'}
    %label{style:'margin-left: 8px;',for:'cs-ampm-input'}
      %input{class:'cs-ampm', id:'cs-ampm-input', type:'checkbox', name:'cstimeisam', ng:{ model:'isAM', change:'updateTime("ampm")' }}
      %span{class:'cs-ampmspan'}
