.row.even-height-row{ng: {show: 'trip.mode != "mode_paratransit"'}}
  .col-xs-4{style: 'text-align: right;', ng: {click: 'cancelTrip($event, tab, $index)'}}
    %span.fa-stack
      %i.fa.fa-times-circle.fa-stack-2x{style: 'color: red;'}
    %a.blue-text{ng: {show: '!mobile'}}
      Cancel
  .col-xs-4{style: 'text-align: center;'}
    .row{ng: {click: 'toggleEmail($event)'}}
      %span.fa-stack
        %i.fa.fa-envelope-o.fa-stack-2x
      %a.blue-text{ng: {show: '!mobile'}}
        Email
  .col-xs-4{style: 'text-align: left;'}
    .row{ng: {click: 'selectTrip($event, tab, $index)'}}
      %span.fa-stack
        %i.fa.fa-search.fa-stack-2x
      %a.blue-text{ng: {show: '!mobile'}}
        View
.row.even-height-row{ng: {show: 'trip.mode == "mode_paratransit"'}}
  .col-xs-4{style: 'text-align: right;', ng: {click: 'cancelTrip($event, tab, $index)'}}
    %span.fa-stack
      %i.fa.fa-times-circle.fa-stack-2x{style: 'color: red;'}
    %a.blue-text{ng: {show:'!mobile'}}
      Cancel
  .col-xs-4{style: 'text-align: center;'}
    .row{ng: {click: 'toggleEmail($event)'}}
      %span.fa-stack
        %i.fa.fa-envelope-o.fa-stack-2x
      %a.blue-text{ng: {show: '!mobile'}}
        Email
  .col-xs-4{style: 'text-align: left;'}
    .row{ng: {click: 'selectTrip($event, tab, $index)'}}
      %span.fa-stack
        %i.fa.fa-search.fa-stack-2x
      %a.blue-text{ng: {show: '!mobile'}}
        View
.row{ng: {show: 'showEmail'}}
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-left
      Email your ride details to a friend (or yourself).
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
      Use a comma to separate multiple addresses
  .row
    .col-xs-10.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
      %input.form-control{style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'trip.emailString', click: '$event.stopPropagation();'}}
    .col-xs-2.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
      %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail($event)'}}
        %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
          %span
            Send
  .row{ng: {show: 'invalidEmail == true'}}
    .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
      Please enter only valid email addresses