%footer.main-footer
  %nav.state-footer-nav
    .row.footer-row
      .col-sm-12.col-md-5.columns.footer-left
        .row.footer-menu
          .col-sm-12.col-md-6.columns.footer-img
            %img#ctl00_ctl78_imgGovernorsLogo.gov-seal{:alt => "Governor's Logo", :src => "https://assets.apps.pa.gov/SiteCollectionImages/palogo/open-data-pa-branding-footer-logo-white.png", :title => "Governor's Logo"}/
          .col-sm-12.col-md-6.columns
            %a#ctl00_ctl78_aCommonwealthTitle.menu-link.main-menu-link.commonwealth-title{:href => "http://www.pa.gov/", :target => "_blank"} COMMONWEALTH OF PENNSYLVANIA
            %p#ctl00_ctl78_pCommonwealthParagraph Keystone State. Proudly founded in 1681 as a place of tolerance and freedom.
      .col-sm-12.col-md-7.columns.footer-right
        .row.footer-menu
          #ctl00_ctl78_divEnterpriseCategory1.col-sm-12.col-md-4.columns
            %a#ctl00_ctl78_lnkEnterpriseCategory1.class.menu-link.main-menu-link{:href => "http://www.pa.gov/#", :target => "_blank"} TOP SERVICES
            %ul#ctl00_ctl78_ulEnterpriseSubMenu1
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.pavoterservices.state.pa.us/Pages/VoterRegistrationApplication.aspx", :target => "_blank"}
                  %i.fa.fa-fw.fa-check-square-o
                  %span Register to Vote
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.dmv.state.pa.us/locator/locator.jsp?navigation=true", :target => "_blank"}
                  %i.fa.fa-fw.fa-car
                  %span Find a DMV
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.health.pa.gov/topics/certificates/Pages/Birth-Certificates.aspx", :target => "_blank"}
                  %i.fa.fa-fw.fa-address-card-o
                  %span Get a Birth Certificate
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.dmva.pa.gov/veteransaffairs/Pages/Outreach-and-Reintegration/PennsylvaniaVeteransRegistry.aspx", :target => "_blank"}
                  %i.fa.fa-fw.fa-flag
                  %span Join the Veterans Registry
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://visitpa.com/", :target => "_blank"}
                  %i.fa.fa-fw.fa-map-marker
                  %span Visit Pennsylvania
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://pennwatch.pa.gov/Pages/default.aspx", :target => "_blank"}
                  %i.fa.fa-fw.fa-info-circle
                  %span PennWatch
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.openrecords.pa.gov/RTKL/CitizensGuide.cfm", :target => "_blank"}
                  %i.fa.fa-fw.fa-info-circle
                  %span Right-to-Know Law
          #ctl00_ctl78_divEnterpriseCategory2.col-sm-12.col-md-4.columns
            %a#ctl00_ctl78_lnkEnterpriseCategory2.class.menu-link.main-menu-link{:href => "http://www.pa.gov/#government", :target => "_blank"} GOVERNMENT
            %ul#ctl00_ctl78_ulEnterpriseSubMenu2
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.governor.pa.gov/", :target => "_blank"}
                  %i.fa.fa-fw.fa-star
                  %span Governor Tom Wolf
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.pa.gov/directory/", :target => "_blank"}
                  %i.fa.fa-fw.fa-address-book
                  %span Directory
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.house.state.pa.us/", :target => "_blank"}
                  %span State House
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.pasen.gov/", :target => "_blank"}
                  %span State Senate
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.pacourts.us/", :target => "_blank"}
                  %span Courts
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.ltgov.pa.gov/Pages/Home.aspx", :target => "_blank"}
                  %span Lieutenant Governor
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.attorneygeneral.gov/", :target => "_blank"}
                  %span Attorney General
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.paauditor.gov/", :target => "_blank"}
                  %span Auditor General
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "http://www.patreasury.gov/", :target => "_blank"}
                  %span Treasurer
          #ctl00_ctl78_divEnterpriseCategory3.col-sm-12.col-md-4.columns
            %a#ctl00_ctl78_lnkEnterpriseCategory3.class.menu-link.main-menu-link{:href => "http://www.pa.gov/", :target => "_blank"} PA.GOV
            %ul#ctl00_ctl78_ulEnterpriseSubMenu3
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://wslh.dced.pa.gov/", :target => "_blank"}
                  %i.fa.fa-fw.fa-map-signs
                  %span Who We Are
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.facebook.com/PennsylvaniaGov/", :target => "_blank"}
                  %i.fa.fa-fw.fa-facebook-official
                  %span Pennsylvania Facebook
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://twitter.com/PennsylvaniaGov", :target => "_blank"}
                  %i.fa.fa-fw.fa-twitter-square
                  %span Pennsylvania Twitter
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.pa.gov/guides/state-symbols/", :target => "_blank"}
                  %span State Symbols
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.pa.gov/news/", :target => "_blank"}
                  %span News
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.pa.gov/directory/", :target => "_blank"}
                  %span Social Media
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://pa.gov/apps/", :target => "_blank"}
                  %span Apps
              %li.sub-menu-item
                %a.menu-link.sub-menu-link{:href => "https://www.pa.gov/guides/commonwealth-careers/", :target => "_blank"}
                  %span Careers & Internships
  %nav#copyright.clearfix.row.copyright-nav
    %ul#ctl00_ctl78_ulBottomStrip.col-sm-12.col-md-6.columns
      %li
        %a{:href => "http://www.pa.gov/accessibility-policy/", :target => "_blank"} ACCESSIBILITY
      %li
        %a{:href => "http://www.pa.gov/privacy-policy/", :target => "_blank"} PRIVACY & DISCLAIMERS
      %li
        %a{:href => "https://www.pa.gov/translation-disclaimer/", :target => "_blank"} TRANSLATION DISCLAIMER
      %li
        %a{:href => "http://www.pa.gov/security-policy/", :target => "_blank"} SECURITY
    %span.small-12.large-6.columns
      Copyright ©
      %span#ctl00_ctl78_lblYear 2021
      Commonwealth of Pennsylvania. All rights reserved.