.row{ng: {show: "location == '/'"}}
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
    %h2
      %strong
        Where To?
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
    %input.form-control{placeholder: 'To Address', ng: {model: 'to', required: 'true'}}
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
    %h2
      %strong
        Starting From?
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
    %input.form-control{placeholder: 'From Address', ng: {model: 'from', required: 'true'}}

