%form#trip-notification-prefs.row{ng:{submit: 'updateTransitTripReminders($event)'}}
  %h3
    Transit/ Walk Trip Reminders
  %fieldset.trip-notif-fieldset
    %legend
      Set reminder notification preferences
    %div.trip-notif-form-group{ng: { repeat: 'entry in fixedRouteReminderPrefs.reminders track by $index'}}
      %input.form-check-input.input-lg{type:'checkbox', id: '{{entry.day}}', ng: {model: 'entry.enabled', disabled:'fixedRouteReminderPrefs.disabled[entry.day] || trip.tab === "past"'}}
      %label.form-check-label{for: '{{entry.day}}', ng: {class: '{"disabled": fixedRouteReminderPrefs.disabled[entry.day] === true}'}}
        {{entry.day}} day(s) before trip
  %button.btn.btn-primary{ng: {disabled: 'tripCancelled',show: 'tripId'}}
    Save Notification Preferences
  %button.btn.btn-primary{ng: {disabled: 'tripCancelled || trip.tab === "past"', show: 'trip'}}
    Update Notification Preferences
