%div{ng: {show: "location == '/login'"}}
  .row
    %form{name: 'loginForm', novalidate: 'novalidate'}
      .col-xs-12
        .form-group
          %label
            Enter your ID
          %input.form-control{name: 'emailOrId', placeholder: 'Shared Ride ID or email', ng: {model: 'emailOrId', required: 'true', change: 'detectLoginType()'}}

%div{ng: {show: "location == '/authenticateEmail'"}}
  .row
    %form{name: 'sharedRideForm'}
      %h4 Your email address is
      %h3 {{ email }}
      .col-xs-12
        .form-group
          %label
            %h4 What is your password?
          %input.form-control{name: 'birthDate', type: 'password', placeholder: 'Enter your password', ng: {model: 'password', change: 'disableNext()'}}
          %a.btn.btn-success{style: 'margin-top: 0.5em;', ng: {click: 'recoverPassword()'}}
            I forgot my password

%div{ng: {show: "location == '/authenticateSharedRideId'"}}
  .row
    %form{name: 'sharedRideForm'}
      %h4 Your Shared Ride ID is
      %h3 {{ sharedRideId }}
      .col-xs-12
        .form-group
          %label
            %h4 What is your date of birth?
          %birthdaypicker
          %h4 This will help us prevent other people from using your account.

.row.action-button
  .col-xs-12
    %a.pull-left.btn.btn-success{type: 'submit', ng: {click: "back()"}}
      %span{ng: {include: "'views/button-chevron-left.html'"}}
      Back
    %a.pull-right.btn.btn-success{type: 'submit', ng: {click: "next()", hide: "disableNext()"}}
      Next
      %span{ng: {include: "'views/button-chevron-right.html'"}}
