.row{ng: {show: "location == '/'"}}
  .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.text-center
    .visible-xs-block
      %h2
        %strong
          Planning trips just got a whole lot simpler.
      %img{style: "height: 4em; margin-top: 0.5em;", ng: {src: 'images/ped.svg'}}

    .hidden-xs
      %h1
        %strong
          Planning trips just got a whole lot simpler.

      %img{style: "height: 6em; margin: 1em;", ng: {src: 'images/ped.svg'}}

    %a.login-btns{href: "#/login"}
      %button.btn-block.form-control.btn-branded.btn-blue
        Log In

    %a.login-btns{href: "#/plan/fromDate"}
      %button.btn-block.form-control.btn-branded.btn-green
        Enter as Guest

    %a.login-btns{href: "#/about"}
      %button.btn-block.form-control.btn-branded.btn-grey
        What is FindMyRidePA?

    #logo-footer.text-center.row
      #flex-container.col-xs-12
        %img.official-logo{ng: {src: 'images/about/PennDOTLogo_RGB.jpg'}}
        %img.official-logo{ng: {src: "images/FTA_Logo.png"}}
        %img.official-logo{ng: {src: "images/Dept_of_Veterans_Logo.svg.png"}}

.row{ng: {show: "location == '/login'"}}
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
    .row
      %h1{style: 'font-weight:600;'} Let's get started
    .row{style: 'margin-top: 2em'}
      %h3 Enter your Shared Ride ID
    .row
      %input.form-control{style: 'font-size: .9em; width: 50%;', placeholder: '00000', ng: {model: 'sharedRideId', required: 'true', change: 'checkId()', enter: 'next()'}}
    .row{style: 'margin-top: 1em'}
      %h3 What county do you live in?
    .row
      %select.btn-lg{style: 'width: 100%', ng: {model: 'county', change: 'checkId()', options: 'county for county in counties', enter: 'next()'}}
        %option{value: '', disabled: '', selected: ''}
          Select your county
    .row{style: 'margin-top: 1em'}
      %a.btn-block{"ng-href" => "#/plan/fromDate"}
        Or, continue as a guest
    .row{style: 'margin-top: 1em'}
      .pull-right
        %a.btn-next{href: "", ng: {click: 'next()', hide: 'disableNext'}}
          Next
          %span{ng: {include: "'views/button-chevron-right.html'"}}
.row{ng: {show: "location == '/loginError'"}}
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
    .row{style: 'background-color: #FFFFDC'}
      %h3{style: 'opacity: 1'} Sorry! We do not see a match
    .row{style: 'background-color: #FFFFDC'}
      %h5{style: 'opacity: 1'} Please double check your answers
    .row{style: 'margin-top: 2em'}
      %h4 Your Shared Ride ID:
    .row
      %input.form-control{placeholder: 'Shared Ride ID', ng: {model: 'sharedRideId', required: 'true', change: 'checkId()', enter: 'next()'}}
    .row
      %h4 Your county:
    .row
      %select.btn-lg{style: 'width: 100%', ng: {model: 'county', change: 'checkId()', options: 'county for county in counties', enter: 'next()'}}
        %option{value: '', disabled: '', selected: ''}
          Enter your county
    .row
      %h4 Your birthdate:
    .row
      %birthdaypicker{ng: {show: "!html5"}}
      %input.form-control{type: 'date', ng: {show: "html5", model: 'dateofbirth', required: 'true', change: 'checkId()'}}
    .row{style: 'margin-top: 2em'}
      %a.btn-block{"ng-href" => "#/plan/fromDate"}
        Or, continue as a guest
    .row
      %input{type: 'checkbox',  ng: {model: 'rememberme'}}
        Remember me for 7 days
    .row{style: 'margin-top: 2em'}
      .pull-right
        %a.btn-next{href: "", style: 'font-size: 1em', ng: {click: 'next()', hide: 'disableNext'}}
          Next
          %span{ng: {include: "'views/button-chevron-right.html'"}}


%div{ng: {show: "location == '/authenticateSharedRideId'"}}
  .row
    %form{name: 'sharedRideForm'}
      .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
        .row
          %h1 What is your birth date?
          %birthdaypicker{ng: {show: "!html5"}}
          %input.form-control{type: 'date', ng: {show: "html5", model: 'dateofbirth', required: 'true', change: 'checkId()'}}
          %h4.text-muted This will help us prevent other people from using your account.
        .row{style: 'margin-top: 2em'}
          %h4
            Your Shared Ride ID: {{sharedRideId}} in {{county}} county
        .row
          %input{type: 'checkbox',  ng: {model: 'rememberme'}}
            Remember me for 7 days

  .row.action-button
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12
      %a.pull-left.btn-back{href: "", type: 'submit', ng: {click: "back()"}}
        %span{ng: {include: "'views/button-chevron-left.html'"}}
        Back
      %a.pull-right.btn-next{href: "", type: 'submit', ng: {click: "authenticate()", hide: 'disableNext'}}
        Next
        %span{ng: {include: "'views/button-chevron-right.html'"}}
