.row
  %h1{style: 'font-weight:600;'} Look Up Your Shared Ride ID
.row{style: 'margin-top: 2em'}
  %h3 Enter your last name
.row
  %input.form-control{style: 'font-size: .9em; width: 50%;',
                      placeholder: '00000',
                      ng: { model: 'lastName',
                            required: 'true'}}
.row{style: 'margin-top: 1em'}
  %h3 Your county
.row
  %select.btn-lg{style: 'width: 100%', ng: {model: 'county', options: 'county for county in counties', enter: 'next()'}}
    %option{value: '', disabled: '', selected: ''}
      Select your county
.row
  %h3 Last 4 digits of your SSN
.row
  %input.form-control{style: 'font-size: .9em; width: 50%;',
                      placeholder: '00000',
                      ng: { model: 'ssnLast4',
                            required: 'true'}}
.row{style: 'margin-top: 1em'}
  .pull-left
    %a.btn-block{href: "", ng: {click: 'toggleLookupIdForm()'}}
      Cancel
  .pull-right
    %a.btn.btn-primary.btn-next{href: "", ng: {click: 'lookupId()'}}
      Find my ID
