.lookupidform{ng:{controller:'LookupIdController'}}
  %form#LookupIdTemplate.container{name:'lookupidform'}
    .row
      .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
        .row{ng: {show: "location == '/lookupIdForm'"}}
          %h1{style: 'font-weight:600;'} Look Up Your Shared Ride ID
        .row{ng: {show: "location == '/lookupError'"}, style:'background-color:#FFFFEB;'}
          %h1{style: 'font-weight:600;'} Sorry! We could not find a match.
          %span Please try again or call 1-844-PA-4RIDE for help.

          -# TODO (Drew Teter, 09/22/2022) Fully Remove ability for guest login.
          -# We plan on doing this in the future, but as no tickets have been created
          -# for this task yet, I'm commenting out these lines instead if deleting them.
          
          -# %span Please try again or call 1-844-PA-4RIDE for help. In the meantime,
          -# %a{href: "#/plan/where"}you can use this site as a guest.
        .row{style: 'margin-top: 2em'}
          %h3 Enter your last name
        .row
          %input{type:'text',style: 'font-size: .9em; width: 50%;',
                              placeholder: 'enter your last name',
                              ng: { model: 'lastName',
                                    required: 'true'}}
        .row{style: 'margin-top: 1em'}
          %h3 Your county
        .row
          %select{ng: {model: 'county', options: 'county for county in counties', enter: 'next()'}}
            %option{value: '', disabled: '', selected: ''}
              Select your county
        .row.alert.alert-success{style: 'margin-top: 2em', ng:{if: 'isTransitionCounty(county)'}}
          .col-md-2
            .fa.fa-warning.fa-3x
          .col-md-10.text-left
            %h3 {{countyInTransitionMessage}}
            %br
            %h3 {{transitionHelpMessage}}
        .row{style: 'margin-top: 1em', ng:{hide: 'isTransitionCounty(county)'}}
          %h3 Your birthdate
        .row{ng:{hide: 'isTransitionCounty(county)'}}
          %input.dob.month{type:'tel', placeholder: 'mm', name:'month', ng: {model: 'dob.month', required: 'true', pattern:'/(^0?[1-9]|^1[012])$/', class:'{invalid: lookupidform.month.$dirty && lookupidform.month.$invalid  }'  }, style: 'width: 3.5em'}
          %span{style:'margin: 0 8px;'} &#47;
          %input.dob.day{type:'tel', placeholder: 'dd', name:'day', ng: {model: 'dob.day', required: 'true', pattern:'/(^0?[1-9]|^[12][0-9]|^3[01])$/', class:'{invalid: lookupidform.day.$dirty && lookupidform.day.$invalid  }'  }, style: 'width: 3.5em'}
          %span{style:'margin: 0 8px;'} &#47;
          %input.dob.year{type:'tel', placeholder: 'yyyy', name:'year', ng: {model: 'dob.year', required: 'true', pattern:'/(^19|^20)\d\d$/', class:'{invalid: lookupidform.year.$dirty && lookupidform.year.$invalid  }' }}
        .row{ng:{show: 'errors.dob' }}
          .alert.alert-danger{role:'alert'}
            Check the birthdate for errors
        -# .row{style: 'margin-top: 1em'}
        -#   %h3 Last 4 digits of your SSN
        -# .row
        -#   %input.form-control{style: 'font-size: .9em; width: 50%;',
        -#                       placeholder: 'XXXX',
        -#                       ng: { model: 'ssnLast4',
        -#                             required: 'true'}}
        .row{style: 'margin-top: 1em'}
          %a.btn-block{href: '#/'}
            Cancel
        .row{style: 'margin-top: 1em'}
          .pull-right{ng:{hide: 'isTransitionCounty(county)'}}
            %a.btn.btn-primary{href: "", ng: {click: 'lookupId()'}}
              Find my ID
        .row.text-center{style:'margin: 30px 0px 10px 0px;'}
          Need Help? Call 1-844-PA-4RIDE
