.row
  .jumbotron.marketing.col-md-8.col-md-offset-2
    .col-md-8.col-md-offset-2
      .center-block.logo-image
      .center-block.logo-text
      %h2 Let's get started.
      %a.center-block.btn.btn-success{"ng-href" => "#/login"}
        I'm a rider already

      %a.center-block.btn.btn-success{"ng-href" => "#/plan/when"}
        Continue as a guest
