.row
  .col-xs-12
    .jumbotron.marketing
      .center-block.logo-image
      .center-block.logo-text
      %h2 Let's get started.
      %a.center-block.btn.btn-success{"ng-href" => "#/login"}
        I'm a rider already

      %a.center-block.btn.btn-success{"ng-href" => "#/plan/fromDate"}
        Continue as a guest
