.row
  .col-xs-12
    .jumbotron.marketing
      .center-block.logo-image
      .center-block.logo-text
      %h2 Let's get started.
      %a.center-block.btn.btn-success{"ng-href" => "#/login"}
        I'm a rider already
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/try-it-out"}
        Continue as a guest
        %span{ng: {include: "'views/button-chevron-right.html'"}}
