.container
  .row{style: 'margin-bottom: 1em;', ng: {show: 'booking_failed'}}
    .col-xs-12.col-md-8.col-md-offset-2{style: 'padding: 0;'}
      .row
        .col-xs-12.col-md-8.col-md-offset-2{style: 'background-color: #FFFFDC'}
          %h3{style: 'opacity: 1'} Sorry! There is a problem with your request
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %h3
            .fa.fa-phone
            Call to learn more
            %a.btn-next{href: "tel://1-844-724-7433"}
              1-844-PA4-RIDE
              
  #paratransit{style: 'padding: 0;', index: '{{$index}}', ng: {show: '!booking_failed', repeat: 'itinerary in paratransitItineraries'}}
    %div{ng:{show: '$index == 0 && !tripCancelled'}}
      .row{style: 'margin-bottom: 1em;', ng: {show: 'email'}}
        .col-xs-12.text-center{style: 'padding: 0;'}
          %h2 Your trip has been saved
      
    .headerwrap{ng:{show: '$index == 0'}}
      .row
        .col-xs-12.col-md-8.col-md-offset-2.no-padding
          .row
            .col-xs-12{style:'background-color: rgb(205,254,206); padding:10px;'}
              %h1
                %span
                  Shared Ride
                %span{style:'font-size: 22px;', ng: {hide: 'tripCancelled'}} 
                  (booked)
                %span{style: 'color: red; font-size: 22px;', ng: {show: 'tripCancelled'}}
                  (cancelled)
              %h5.text-muted
                %span
                  CONFIRMATION
                %span.tab1
                  %strong &num;{{booking_results[0].confirmation_id}}
                %span.tab1
                  (Outbound)
              %h5.text-muted{ng: {show: 'booking_results.length > 1'}}
                %span 
                  CONFIRMATION
                %span.tab1
                  %strong &num;{{booking_results[1].confirmation_id}}
                %span.tab1
                  (Return)

      .row{style:'margin-top: 6px;'}
        .col-xs-6.text-right.text-muted
          Escorts/Companions:
        .col-xs-6.text-left
          {{escort}}

    .row{style: 'margin-top: 1em;', ng: {show: '$index == 0'}}
      .col-xs-12.col-md-8.col-md-offset-2.no-padding
        .row
          .col-xs-12
            %h2 Outbound Trip
    .row{ng: {show: '$index == 1', style: "$index == 1 ? {'margin-top': '2em'} : {}"}}
      .col-xs-12.col-md-8.col-md-offset-2.no-padding
        .row
          .col-xs-12
            %h2 Return Trip
    .row
      .col-xs-12.col-md-8.col-md-offset-2.no-padding
        .row
          .col-xs-12.text-muted
            {{itinerary.dayAndDateDesc}}
        .row
          .col-xs-10.text-left
            %h4 {{booking_results[$index].travelTime}}
          .col-xs-2.text-right
            %h4{style: 'float:right; vertical-align: bottom;'} {{itinerary.cost | currency | free}}
    .row
      .col-xs-12.col-md-8.col-md-offset-2.paratransit-body
        .border-between.timeline.mode_wait
          .row.even-height-row
            .col-xs-2.right-side.no-padding
              %h4 {{booking_results[$index].wait_startDesc}}
            .col-xs-1.right-side
            .col-xs-9.leg-info.left-side
              .wait-info
                .row
                  .leg-info.col-xs-12
                    %h5.text-muted WAIT for Shared Ride
                .row{ng: {show: '$index == 0'}}
                  .leg-info.col-xs-12
                    %h4.text-muted {{itinerary.start_location.name}}
                .row{ng: {show: '$index == 1'}}
                  .leg-info.col-xs-12
                    %h4.text-muted {{itinerary.end_location.name}}
                .row
                  .leg-info.col-xs-12
                    %h5.text-muted Confirm #: {{booking_results[$index].confirmation_id}}
        .border-between.timeline.mode_paratransit
          .row.even-height-row
            .col-xs-2.right-side.no-padding
              %h4 {{booking_results[$index].wait_endDesc}}
            .col-xs-1.right-side
              %i.fa.fa-circle-o.fa-lg.waypoint{style: 'color: #0E5302;'}
            .col-xs-9.leg-info.left-side
              .bus-info
                .row{style: 'height: 100px'}
        .border-between.timeline.mode_paratransit
          .row.even-height-row
            .col-xs-2.right-side.no-padding
              %h4 {{booking_results[$index].arrivalDesc}}
            .col-xs-1.right-side.no-pseudo
              %i.fa.fa-circle-o.fa-lg.waypoint{style: 'color: #0E5302;'}
            .col-xs-9.leg-info.left-side
              .bus-info
                .row
                  .leg-info.col-xs-12.leg-header
                    %h5.text-muted ARRIVE
                .row{ng: {show: '$index == 0'}}
                  .leg-info.col-xs-12
                    %h4.text-muted {{itinerary.end_location.name}}
                .row{ng: {show: '$index == 1'}}
                  .leg-info.col-xs-12
                    %h4.text-muted {{itinerary.start_location.name}}

  %div{style: 'margin-top: 1em', ng: {show: 'showEmail'}}
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-left
        Email your ride details to a friend (or yourself).
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
        Use a comma to separate multiple addresses
    .row
      .col-xs-10.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
        %input.form-control{style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailString'}}
      .col-xs-2.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
        %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail($event)'}}
          %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
            %span
              Send
    .row{ng: {show: 'invalidEmail == true'}}
      .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
        Please enter only valid email addresses
  
  .row.unstuck-foot.btn-spacing{style: 'margin-top: 1em;'}
    .col-xs-12.col-md-8.col-md-offset-2
      %a.btn.btn-primary.btn-block{href: "", ng: {click: 'toggleEmail($event);', show:'!tripCancelled'}}
        Email this ride
      %a.btn.btn-primary.btn-block{style:'background-color:red;', href: '', ng: {click: 'cancelTrip()', hide:'tripCancelled'}}
        Cancel this ride
      %a.btn.btn-primary.btn-block{href: '/#/plan/my_rides', ng: {show:'tripCancelled'}}
        View my saved rides
    .col-xs-12.col-md-8.col-md-offset-2
      .pull-left
        %a.btn{href: "", ng: {click: "logout()", controller:'PlanController'}}
          Logout
      .pull-right
        %a.btn.btn-link{ng: {click: "reset()", controller:'PlanController'}}
          Book another ride

