.plan
  .container
    .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
      %b API Error :
      %span {{ apiStatus }}

    .depart-date{ng: {show: 'step==="fromDate"'}}
      %form
        .form-group
          %label{for: "departDate"}
            %h4{ng: {show: 'planService.username'}} Hi {{ planService.username }}!
            %h4 What day do you want to leave?
          %p.input-group
            %input.form-control{'type' => 'text', 'datepicker-popup' => "dd-MMMM-yyyy", 'min-date' => 'minDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'fromDate',}
              %span.input-group-btn
                %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                  %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="fromTimeType"'}}
      %form
        .form-group
          %label{for: "departTime"}
            %h4 What time are you leaving?
        .row
          .col-md-2.col-md-offset-5
            %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("asap")', show: 'showAsap'}}
              As soon as possible
            %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("depart")'}}
              Enter departure time
            %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("arrive")'}}
              Enter arrival time

    .depart-time{ng: {show: 'step==="fromTime"'}}
      %form
        .form-group
          %label{for: "departTime"}
            %h4 What time would you like to {{ planService.fromTimeType }}?
        .row
          .col-md-2.col-md-offset-5
            %timepicker{ng: {model: 'fromTime'}}

    .use-current-location{ng: {show: 'step==="start_current"'}}
      %h4 Start at your current location?
      %a.btn.btn-success{ng: {click: 'getCurrentLocation()'}}
        Yes
      %a.btn.btn-success{ng: {href: '#/plan/from'}}
        No
      %span{'us-spinner' => '', 'spinner-key' => "spinner-1"}

    .map-wrapper{ng: {show: 'step==="from_confirm" && showConfirmLocationMap'}}
      %form.from-location{name: 'from_location_confirm'}
        %h5 Here's the address we found for your location:
        %h5 {{ planService.from }}
        %div.map-canvas{'ui-map' => 'confirmFromLocationMap', 'ui-options' => 'mapOptions', 'style' => 'margin-bottom: 10px'}
        %a.btn.btn-success{ng: {click: 'next()'}}
          Yes, use this address
        %a.btn.btn-success{ng: {click: 'overrideCurrentLocation()'}}
          No, I'll enter the address myself

      %p
        {{greeting}}

    %form.from-location{name: 'from_location', ng: {show: 'step==="from"'}}
      .form-group
        %label{for: "fromLocation"}
          %h4 Where are you starting from?
        .row
          .col-xs-12
            .col-xs-10
              %autocomplete{ 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'fromChoice'}}
            .col-xs-2
              .btn.btn-success{ng: {disabled: '!showUndo', click: 'undo()'}}
                %i.fa.fa-undo
        %div.map-canvas{'ui-map' => 'fromLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    %form.to-location{ng: {show: 'step==="to"'}}
      .form-group
        %label{for: "toLocation"}
          %h4 Where are you going?
        .row
          .col-xs-12
            .col-xs-10
              %autocomplete{ 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'toChoice'}}
            .col-xs-2
              .btn.btn-success{ng: {disabled: '!showUndo', click: 'undo()'}}
                %i.fa.fa-undo
        %div.map-canvas{'ui-map' => 'toLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    .need-return-trip{ng: {show: 'step==="needReturnTrip"'}}
      %h4 Do you need a return trip?
      %a.btn.btn-success{ng: {href: '#/plan/returnDate'}}
        Yes
      %a.btn.btn-success{ng: {href: '#/plan/confirm'}}
        No

    .return-date{ng: {show: 'step==="returnDate"'}}
      %form
        .form-group
          %label{for: "returnDate"}
            %h4 What day do you want to return?
          %p.input-group
            %input.form-control{'type' => 'text', 'datepicker-popup' => "dd-MMMM-yyyy", 'min-date' => 'fromDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'returnDate',}
              %span.input-group-btn
                %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                  %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="returnTimeType"'}}
      %form
        .form-group
          %label{for: "returnTime"}
            %h4 What time are you returning?
        .row
          .col-md-2.col-md-offset-5
            %a.btn.btn-success.btn-block{ng: {click: 'specifyReturnTimeType("depart")'}}
              Enter departure time
            %a.btn.btn-success.btn-block{ng: {click: 'specifyReturnTimeType("arrive")'}}
              Enter arrival time

    .return-time{ng: {show: 'step==="returnTime"'}}
      %form
        .form-group
          %label{for: "returnTime"}
            %h4 What time would you like to {{ planService.returnTimeType }} on your return trip?
        .row
          .col-md-2.col-md-offset-5
            %timepicker{ng: {model: 'returnTime'}}

    .purpose{ng: {show: 'step==="purpose"'}}
      %h4 What is your trip purpose?
      .row
        .col-xs-12
          .col-xs-6{ng: {repeat: 'purpose in purposes'}}
            %a.btn.btn-success.btn-block{style: 'white-space: normal; margin-bottom:4px;', ng: {click: 'specifyTripPurpose("{{ purpose.name }}")'}}
              {{ purpose.name }}

    .confirm{ng: {show: 'step==="confirm"'}}
      %h2 My ride request
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ getFromDateString() }}

      .row.card{ng: {show: 'planService.returnTimeType'}}
        .col-xs-12
          .row
            .col-xs-3.title
              Return At
            .col-xs-9
              {{ getReturnDateString() }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Purpose
            .col-xs-9
              {{ planService.purpose }}

      .row
        .col-md-2.col-md-offset-5
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Search for ride!
          %a.btn.btn-success.btn-block{ng: {click: ''}}
            No, change my request

    .purpose{ng: {show: 'step==="list_itineraries"'}}
      %h2 Here are your trip options:
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectTransit()'}}
          %img.col-xs-1{ng: {src: 'images/modes/transit.png'}}
          %h3.col-xs-2
            Bus
          %h3.col-xs-5
            Fare: $1.20 - $5.40
          .col-xs-3
          %span.col-xs-1.fa-stack.fa-lg
            %i.fa.fa-circle-thin.fa-stack-2x
            %i.fa.fa-chevron-right.fa-stack-1x
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectSharedRide()'}}
          %img.col-xs-1{ng: {src: 'images/modes/paratransit.png'}}
          %h3.col-xs-2
            Shared Ride
          %h3.col-xs-5
            Fare: $4.35
          .col-xs-4
            .col-xs-12
              Leave: 4:05PM
            .col-xs-12
              Arrive: 5:36PM
            .col-xs-12
              Travel Time: 1 hour, 31 minutes
      .row
        .col-md-2.col-md-offset-5
          %a.btn.btn-lg.btn-success.btn-block{ng: {click: ''}}
            More options

    .purpose{ng: {show: 'step==="bus_options"'}}
      %h2 Bus options:
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectTransit()'}}
          %img.col-xs-1{ng: {src: 'images/modes/transit.png'}}
          %h3.col-xs-4
            Rabbit Transit - Line 2N
          %h3.col-xs-3
            Fare: $1.20
          .col-xs-4
            .col-xs-12
              Leave: 4:05PM
            .col-xs-12
              Arrive: 5:36PM
            .col-xs-12
              Travel Time: 1 hour, 31 minutes
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectTransit()'}}
          %img.col-xs-1{ng: {src: 'images/modes/transit.png'}}
          %h3.col-xs-4
            Rabbit Transit - Line 4E
          %h3.col-xs-3
            Fare: $5.40
          .col-xs-4
            .col-xs-12
              Leave: 4:15PM
            .col-xs-12
              Arrive: 4:40PM
            .col-xs-12
              Travel Time: 25 minutes
      .row
        .col-md-2.col-md-offset-5
          %a.btn.btn-lg.btn-success.btn-block{ng: {click: ''}}
            More options

    .depart-time{ng: {show: 'step==="sharedride_options_1"'}}
      %form
        .form-group
          %h2 Will anyone be riding with you today?
        .row
          .col-md-2.col-md-offset-5
            %a.btn.btn-success.btn-block{ng: {click: 'specifySharedRideCompanion("true")'}, style: 'white-space: normal; margin-bottom:4px;'}
              Yes, I have a companion or escort with me
            %a.btn.btn-success.btn-block{ng: {click: 'specifySharedRideCompanion("false")'}, style: 'white-space: normal; margin-bottom:4px;'}
              No, I'm on my own

    .depart-time{ng: {show: 'step==="sharedride_options_2"'}}
      %form
        .form-group
          %h2 If you have any special instructions for the driver, please enter them below:
        .row
          .col-md-2.col-md-offset-5
            %textarea.form-control{rows: '5'}

  .container
    .pull-left
      %a.btn.btn-success{type: 'submit', ng: {click: "back()"}}
        %span{ng: {include: "'views/button-chevron-left.html'"}}
        Back
    .pull-right
      %a.btn.btn-success{ng: {show: 'showNext', click: 'next()', hide: 'disableNext'}}
        Next
        %span{ng: {include: "'views/button-chevron-right.html'"}}
      %a.btn.btn-success{ng: {href: "#/plan2", show: 'readyToPlan()'}}
        Plan My Trip
        %span{ng: {include: "'views/button-chevron-right.html'"}}

