%form
  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      .pull-left
        %h3
          %strong My Ride Request 
      .pull-right
        %h3
          %strong Cost: {{ planService.fare_info.mode_paratransit }}
  .row
    %br
    %br
  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'fromInput'}
        From:
      .input-group
        %input#from.form-control{disabled: true, style: 'width: 100%;', ng: {value: 'planService.confirmRequest.fromLine1 ? planService.confirmRequest.fromLine1 + ", " : "" + planService.confirmRequest.fromLine2'}}
        %button.input-group-addon{'aria-label'=> 'Edit Starting Address', ng: {click: 'back("where")'}, style: 'width: fit-content; height: 34px; background-color: white;'}
          %i.glyphicon.glyphicon-edit{style: 'margin-top: 2px;'}

  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'toInput'}
        To:
      .input-group
        %input#to.form-control{disabled: true, style: 'width: 100%;', ng: {value: 'planService.confirmRequest.toLine1 ? planService.confirmRequest.toLine1 + ", " : "" + planService.confirmRequest.toLine2'}}
        %button.input-group-addon{'aria-label'=> 'Edit Destination Address', ng: {click: 'back("where")'}, style: 'width: fit-content; height: 34px; background-color: white;'}
          %i.glyphicon.glyphicon-edit{style: 'margin-top: 2px;'}

  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'purposeInput'}
        Purpose:
      .input-group
        %input#purpose.form-control{disabled: true, style: 'width: 100%;', ng: {value: 'planService.confirmRequest.purpose'}}
        %button.input-group-addon{'aria-label'=> 'Edit Purpose', ng: {click: 'back("purpose")'}, style: 'width: fit-content; height: 34px; background-color: white;'}
          %i.glyphicon.glyphicon-edit{style: 'margin-top: 2px;'}

  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'fromMomentInput'}
        When:
      .input-group
        %input#fromMomentInput.form-control{disabled: true, style: 'width: 100%;', ng: {value: 'planService.confirmRequest.when'}}
        %button.input-group-addon{'aria-label'=> 'Edit Time', ng: {click: 'back("when")'}, style: 'width: fit-content; height: 34px; background-color: white;'}
          %i.glyphicon.glyphicon-edit{style: 'margin-top: 2px;'}

  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'CompanionsInput'}
        Companions:
      .input-group
        %input#companionsInput.form-control{disabled: true, style: 'width: 100%;', ng: {value: "getOtherRidersString()"}}
        %button.input-group-addon{'aria-label'=> 'Edit Companions', ng: {click: 'back("companions")'}, style: 'width: fit-content; height: 34px; background-color: white;'}
          %i.glyphicon.glyphicon-edit{style: 'margin-top: 2px;'}

  .row
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'driverNotesInput', ng: {show: '!isRoundTrip'}}
        Driver's Notes:
      %label{for: 'driverNotesInput', ng: {show: 'isRoundTrip'}}
        Outbound Trip Driver's Notes:
      .input-group
        %textarea#driverNotesInput.form-control{style: 'width: 100%;', cols: '4', maxlength: '75', ng: {model: 'planService.driverInstructions'}}

  .row{ng: {show: 'isRoundTrip'}, style: 'margin-top: 30px'}
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %label{for: 'returnDriverNotesInput'}
        Return Trip Driver's Notes:
      .input-group
        %textarea#returnDriverNotesInput.form-control{style: 'width: 100%;', cols: '4', maxlength: '75', ng: {model: 'planService.driverInstructionsReturn'}}

  .row.unstuck-foot.btn-spacing
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      .pull-left
        %a.btn.btn-secondary{href: "", ng: {click: "back()", hide:'backToConfirm'}}
          Back
      .pull-right
        %a.btn.btn-primary{href: "", ng: {click: 'next()'}}
          Book This Trip

