.container
  .row.rounded-border{style: "border: 0px;"}
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      %h3
        %strong
          My ride request
  .row.truncate
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .no_underline.row.rounded-border{ng:{click:'goPlanWhere()'}}
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            From
        .col-xs-9.col-md-10
          %h4.text-left
            {{request.fromLine1}}
          %h5.text-muted.text-left
            {{request.fromLine2 | noCountry}}

      .no_underline.row.rounded-border{ng:{click:'goPlanWhere()'}}
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            To
        .col-xs-9.col-md-10
          %h4.text-left
            {{request.toLine1}}
          %h5.text-muted.text-left
            {{request.toLine2 | noCountry}}

      .no_underline.row.rounded-border{ng: {show: '!request.roundtrip || request.sameday', click:'goPlanWhen()' } }
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            When
        .col-xs-9.col-md-10
          %h4.text-left
            {{request.when1}}
            %h5.text-muted.text-left
              {{request.when2}}
            %h5.text-muted.text-left{ng: {show: 'request.when4'}}
              {{request.when4}}

      .no_underline.rounded-border{style: "margin-left: -15px; margin-right: -15px;", ng: {show: 'request.roundtrip && !request.sameday', click:'goPlanWhen()'}}
        .row{style: "margin-left: 0px; margin-right: 0px;"}
          .col-xs-3.col-md-2
            %p.text-left.text-muted
              Depart
          .col-xs-9.col-md-10
            %h4.text-left
              {{request.when1}}
            %h5.text-muted.text-left
              {{request.when2}}
        .row{style: "margin-left: 0px; margin-right: 0px;"}
          .col-xs-3.col-md-2
            %p.text-left.text-muted
              Return
          .col-xs-9.col-md-10
            %h4.text-left
              {{request.when3}}
            %h5.text-muted.text-left
              {{request.when4}}

      .no_underline.row.rounded-border{ng:{show:'request.purpose', click:'goPlanPurpose()'}}
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            Purpose
        .col-xs-9.col-md-10
          %h4.text-left
            {{request.purpose}}
      .row.rounded-border{'ng-hide'=>'showBusRides || paratransitItineraries.length == 0'}
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            Cost
        .col-xs-9.col-md-10
          %h4.text-left
            {{fare_info["mode_paratransit"]}}


  .row.rounded-border{style: "border: 0px;", ng:{show:'!showBusRides'}}
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      %h3
        %strong
          Shared Ride options
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .no_underline.row.rounded-border{ng:{repeat:'discount in guestParatransitItinerary.discounts', click:'goPlanLogin()'}}
        .col-xs-3.col-md-2
          %p.text-left
            %strong
              {{discount.fare | currency}}
            .text-muted
              or less
        .col-xs-9.col-md-10
          %h4.text-muted
            {{discount.comment}}  
      
  .notAllRides{'ng-hide'=>'showBusRides || !hasParatransit'}
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center{style:'padding:0px; margin-bottom:10px;'}
        %a.btn.btn-primary.btn-block{href: "", ng: {click: 'next()'}}
          Book this Shared Ride
    .row.unstuck-foot.btn-spacing
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center{style:'padding:0px; '}
        .pull-left
          %a.btn{href: "", back: '', ng: {click: "back()"}}
            Back
        .pull-right
          %a.btn{ng:{show:'hasTransit || hasWalk || hasUber || hasTaxi', click: 'toggleShowBusRides();'}}
            View more ride options

  .row{ng:{show:'!hasParatransit && email'}}
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      .alert.alert-danger{role:'alert'}
        No shared ride is available for your request. Please call 1-844-PA4-RIDE for more information.

  .row{ng:{show:'!email'}}
    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      .alert.alert-danger{role:'alert'}
        Guests cannot book shared rides. Please call 1-844-PA4-RIDE for more information on Shared Ride or to register for the program, or sign in to the system.

  %div{style: "margin-top: 2em;", ng:{show:'(showBusRides || !hasParatransit) && hasWalk'}}
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %h3
          %strong
            Walk options
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng:{click:'goViewWalk(walkItineraries[0].id, (walkItineraries[1] ? walkItineraries[1].id : 0))'}}
        .row.rounded-border
          .col-xs-10
            %h3{ng: {show: 'walkItineraries[1]' } }
              Going
            %h3{ng: {hide: 'walkItineraries[1]' } }
              One Way
          .col-xs-2.pull-right.bus-options-right
            %img{ng: {src: 'images/modes/walk.png'}, style:'width: 50%; vertical-align: middle;'}
            {{walkItineraries[0].route}}
          .col-xs-12
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-10
                Leave {{walkItineraries[0].start_time | date:'h:mm a'}}
              .col-xs-2
                {{fare_info["mode_walk"] | currency | free}}
              .col-xs-10
                Arrive {{walkItineraries[0].end_time | date:'h:mm a'}}
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-12
                Trip Time is {{walkItineraries[0].travelTime}}
              .col-xs-12
                Walking time is {{walkItineraries[0].walkTimeDesc}}

    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'walkItineraries[1]' } }
        .row.rounded-border
          .col-xs-12.text-center
            %h4.text-muted
              {{request.purpose}} {{howLong.minutes | minutes}}

    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'walkItineraries[1]', click:'goViewWalk(walkItineraries[0].id, (walkItineraries[1] ? walkItineraries[1].id : 0))'}}
        .row.rounded-border
          .col-xs-10
            %h3 Returning
          .col-xs-2.pull-right.bus-options-right
            %img{ng: {src: 'images/modes/walk.png'}, style:'width: 50%; vertical-align: middle;'}
            {{walkItineraries[1].route}}
          .col-xs-12
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-10
                Leave {{walkItineraries[1].start_time | date:'h:mm a'}}
              .col-xs-2
                {{fare_info["mode_walk"] | currency | free}}
              .col-xs-10
                Arrive {{walkItineraries[1].end_time | date:'h:mm a'}}
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-12
                Trip Time is {{walkItineraries[1].travelTime}}
              .col-xs-12
                Walking time is {{walkItineraries[1].walkTimeDesc}}

  %div{style: "margin-top: 1em;", ng:{show:'hasTransit && (showBusRides  || !hasParatransit)'}}
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %h3
          %strong
            Transit/ Walk
    .row{ng: {click:'goViewTransitOptions()'}}
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .no_underline.row.rounded-border{style:'display:flex;'}
          .col-xs-3.col-md-2{style:'margin:auto;'}
            %strong {{transitItineraries[0][ selectedBusOption[0] ].cost | currency | free}}
            .text-muted{ng:{show:'transitItineraries[1]'}}
              (round trip)
          .col-xs-5.col-md-8.row{style:'margin:auto;'}
            .col-sm-7.text-center
              %img{ng:{ src: '{{transitItineraries[0][ selectedBusOption[0] ].logo_url}}'}, alt:'{{transitItineraries[0][ selectedBusOption[0] ].service_name}}'}
              %h4.text-muted
                {{transitItineraries[0][ selectedBusOption[0] ].service_name}}
            .col-sm-5.text-center
              %h4.text-muted{ng: {show: 'transitRoute'}}
                Route
              %h4.text-muted{ng: {show: 'transitRoute'}}
                {{transitRoute || ""}}
          .col-xs-4.col-md-4{style:'margin:auto;'}
            %div  
              Trip Time {{transitItineraries[0][ selectedBusOption[0] ].duration | seconds}}
            %div
              Wait {{transitItineraries[0][ selectedBusOption[0] ].wait_time | seconds}}
            %div
              Walk {{transitItineraries[0][ selectedBusOption[0] ].walk_time | seconds}}

  %div{style: "margin-top: 1em;", ng:{show:'hasTaxi && (showBusRides  || !hasParatransit)'}}
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %h3
          %strong
            Taxi
    .row{ng: {repeat:'taxiOption in taxiItineraries', click:'goViewTaxi( $index )'}}
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .no_underline.row.rounded-border{style:'display:flex;'}
          .col-xs-3.col-md-2{style:'margin:auto;'}
            %strong.text-muted {{taxiOption.cost | roundUp | currency}}
            %div{ng:{show:'taxiOption.returnItinerary'}}
              .text-muted (Each Way)
            %div
              %strong Estimated Fare
          .col-xs-5.col-md-6.text-center{style:'margin:auto;'}
            %img{ng:{ src: '{{taxiOption.logo_url}}'}, alt:'{{taxiOption.service_name}}'}
            %h4.text-muted
              {{taxiOption.service_name}}
          .col-xs-4.col-md-4{style:'margin:auto;'}
            %div  
              Trip Time {{taxiOption.duration | seconds}}
            %div
              Wait {{taxiOption.wait_time | seconds}}
            %div
              Walk {{taxiOption.walk_time | seconds}}
  %div{style: "margin-top: 1em;", ng:{show:'hasUber && (showBusRides  || !hasParatransit)'}}
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %h3
          %strong
            Uber
    .row{ng: {repeat:'uberOption in uberItineraries', click:'goViewUber( $index )'}}
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .no_underline.row.rounded-border{style:'display:flex;'}
          .col-xs-3.col-md-2{style:'margin:auto;'}
            %strong.text-muted {{uberOption.cost | roundUp | currency}}
            %div{ng:{show:'uberOption.returnItinerary'}}
              .text-muted (Each Way)
            %div
              %strong Estimated Fare
          .col-xs-5.col-md-6.text-center{style:'margin:auto;'}
            %img{ng:{ src: '{{uberOption.logo_url}}'}, alt:'{{uberOption.service_name}}'}
            %h4.text-muted
              {{uberOption.service_name}}
          .col-xs-4.col-md-4{style:'margin:auto;'}
            %div  
              Trip Time {{uberOption.duration | seconds}}
            %div
              Wait {{uberOption.wait_time | seconds}}
            %div
              Walk {{uberOption.walk_time | seconds}}
  %div{style: "margin-top: 1em;", ng:{show:'noresults'}}
    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
        %h4
          %strong
            No valid travel options found. Please go back and try a new search. 
        
  .row.btn-spacing{'ng-show'=>'showBusRides || !hasParatransit'}
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
      .pull-left
        %a.btn{ng:{hide:'!hasParatransit || transitSaved || transitCancelled || walkSaved || walkCancelled', click: 'toggleShowBusRides()'}}
          Back
      .pull-left
        %a.btn{href:'', back:'', ng:{show:'!hasParatransit && !showBusRides', click: 'back()'}}
          Back
        %a.btn{href: "", ng: {click: "logout()", show:'loggedIn && (transitSaved || transitCancelled || walkSaved || walkCancelled)'}}
          Logout
      .pull-right{'ng-show'=>'loggedIn'}
        %a.btn.btn-primary{href: "", style:'background-color:red;',ng: {click: 'cancelThisBusTrip', show:'transitSaved'}}
          Cancel this trip
        %a.btn.btn-primary{href: "", style:'background-color:red;',ng: {click: 'cancelThisWalkTrip', show:'walkSaved'}}
          Cancel this trip
        %a.btn{ng:{show:'transitCancelled || walkCancelled', click: 'reset()'}}
          Book another ride
