%form
  .form-group
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h3#arrival-header
          %strong
            When do you want to arrive?
    .row{ 'aria-labelledby': 'arrival-header' }
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .cs-two-week-date-picker
          %div{ng: {repeat: 'month in planService.months track by month.key' }, class: 'month'}
            %h3
              {{month.name}}
            %div{class: 'week'}
              %div{class: 'day month-heading'} Sun
              %div{class: 'day month-heading'} Mon
              %div{class: 'day month-heading'} Tue
              %div{class: 'day month-heading'} Wed
              %div{class: 'day month-heading'} Thu
              %div{class: 'day month-heading'} Fri
              %div{class: 'day month-heading'} Sat
            %div{ng: {repeat: 'week in month.weeks' }, class: 'week'}
              %div{ class: 'day', 
                    tabindex:'{{(day.startTime || day.endTime) ? 0 : -1}}', 
                    'aria-label' => '{{day.day}} {{month.name}}', 
                    ng: { repeat: 'day in week track by day.key', 
                          click:'selectDepartDate(day)',
                          disabled:'!(day.startTime || day.endTime)', 
                          class:'{ disabled: !(day.startTime || day.endTime), selected: fromMoment.isSame(day.moment, "day")}' } }
                {{day.day}}
    .row{style:'padding:11px 0px;'}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .text-muted{style:'padding:7px 0px;', ng:{hide:'fromMoment.isAfter()'}}
          Click on an available travel day shown in dark blue
        %div{style:'padding:7px 0px;', ng:{show:'fromMoment.isAfter()'}}
          %p
            = "Selected Date: {{fromMoment | momentFormat: 'dddd, MMM D'}}"
    .row{ng: {show: 'fromMoment.isAfter()'}}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %div{'ng-class' =>'{"bg-danger": fromTimeUpdated && !whenShowNext()}'}
          %h3#time-header
            What time do you want to arrive?
          -# TODO: Refactor this so this uses the native %input{type: 'time'} element
          %cs-time-input{ng:{model:'fromMoment', focused:'backToConfirm'}, 'aria-labelledby': 'time-header'}
    .row{ng:{show:'planService.serviceOpen'}}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .text-muted{'ng-class' =>'{"text-danger": fromTimeUpdated && !whenShowNext()}'}
          %p
            Please select from available service hours on this day:
          %p
            %strong {{planService.serviceOpen | momentFormat: 'h:mm a'}} to {{planService.serviceClose | momentFormat: 'h:mm a'}}

    .return-trip-option{ng:{show:'fromTimeUpdated && whenShowNext()'}}
      .row
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
          %h3#stay-duration-header
            How long do you want to stay?
      .row
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
          %select{required:'true', ng:{model:'$parent.howLong', options:'option.name for option in howLongOptions', change:'updateReturnTime(howLong)', class:'{disabled:!fromMoment.isAfter(moment()) }'}, 'aria-labelledby': 'stay-duration-header'}
      .row{'ng-show'=>'returnMoment'}
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
          Return at {{returnMoment | momentHMA}}
    .row.unstuck-foot.btn-spacing
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .pull-left
          %a.btn.btn-secondary{href: "", ng: {click: "back()", hide:'backToConfirm'}}
            Back
        .pull-right
          %a.btn.btn-danger{href: "/#/plan/when/error", 'ng-show' => 'fromTimeUpdated && !whenShowNext()'}
            Preferred Time is Unavailable
          %a.btn.btn-primary{href: "", ng: {show: 'fromMoment.isAfter(moment()) && fromTimeUpdated && whenShowNext()', disabled:'!(fromMoment.isAfter(moment()) && fromTimeUpdated && whenShowNext())', click: 'next()'}}
            %span{ng:{hide:'backToConfirm'}}
              Next
            %span{ng:{show:'backToConfirm'}}
              Back to confirm

