.plan
  .container
    %span{'us-spinner' => '', 'spinner-key' => "spinner-1"}
    .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
      %b API Error :
      %span {{ apiStatus }}

    .depart-date{ng: {show: 'step==="fromDate"'}}
      %form
        .form-group
          .row
            .col-md-4.col-md-offset-4.col-xs-12
              %h4{ng: {show: 'planService.username'}} Hi {{ planService.username }}!
              %h4 What day do you want to leave?
              %p.input-group{'ng-show' => 'html5', 'style' => 'width: 100%;'}
                %input#fromDate.form-control{min: "{{minDate | date:'yyyy-MM-dd'}}", focus: '', type: 'date', ng: {model: 'fromDate', required: 'true', enter: 'next()'}}
              %p.input-group{'ng-show' => '!html5', }
                %input.form-control{'focus' => '', 'type' => 'text', 'datepicker-popup' => "MMMM-dd-yyyy", 'min-date' => 'minDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'fromDate',}
                  %span.input-group-btn
                    %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                      %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="fromTimeType"'}}
      .col-md-8.col-md-offset-2.col-xs-12
        .row
          .col-xs-12.pull-left.no-padding
            %h3
              %span.timeTypeSelection{ng: {show: 'fromTimeType == "depart"'}} When do you want to leave by?
              %span.timeTypeSelection{ng: {show: 'fromTimeType == "arrive"'}} When do you want to get there?
              %span.dropdown{dropdown: '', style: 'cursor: pointer;'}
                %i.fa.fa-lg.fa-sort-desc{dropdown_toggle: '', style: 'vertical-align: 15%; color: #2781FF;'}
                %ul.dropdown-menu.pull-right{dropdown_menu: ''}
                  %li{ng: {show: 'fromTimeType != "depart"'}}
                    %a{ng: {click: 'specifyFromTimeType("depart")'}}
                      When do you want to leave by?
                  %li{ng: {show: 'fromTimeType != "arrive"'}}
                    %a{ng: {click: 'specifyFromTimeType("arrive")'}}
                      When do you want to get there?
        .row{ng: {show: 'showAsap'}}
          .col-xs-12.pull-left{style: 'color: #2781FF; padding: 0px;'}
            %h5{ng: {click: 'specifyFromTimeType("asap")'}} As soon as possible
        .row{ng: {show: 'fromTimeType != "asap"'}}
          %timepicker.timepicker{ng: {model: 'fromTime', show: '!mobile'}}
          %input#fromTime.form-control{type: 'time', ng: {model: 'fromTime', required: 'true', show: 'mobile && html5'}}

    .depart-time{ng: {show: 'step==="fromTime"'}}
      %form
        .col-md-4.col-md-offset-4.col-xs-12.text-center
          .row
            %h4 What time would you like to {{ planService.fromTimeType }}?
          .row
            %timepicker.timepicker{ng: {model: 'fromTime', show: '!mobile'}}
            %input#fromTime.form-control{type: 'time', ng: {model: 'fromTime', required: 'true', show: 'mobile && html5'}}

    .use-current-location{ng: {show: 'step==="start_current"'}}
      .row
        .text-center
          %h4 Start at your current location?
          %a.btn.btn-success{ng: {click: 'getCurrentLocation()'}}
            Yes
          %a.btn.btn-success{ng: {href: '#/plan/from'}}
            No

    .map-wrapper.text-center{ng: {show: 'step==="from_confirm" && showConfirmLocationMap'}}
      %h5 Here's the address we found for your location:
      %h5 {{ planService.from }}
      %div.map-canvas{'ui-map' => 'confirmFromLocationMap', 'ui-options' => 'mapOptions', 'style' => 'margin-bottom: 10px'}
      .col-md-4.col-md-offset-4.col-xs-12
        %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
          Yes, use this address
        %a.btn.btn-success.btn-block{ng: {click: 'overrideCurrentLocation()'}}
          No, I'll enter the address myself

      %p
        {{greeting}}

    %form.from-location{name: 'from_location', ng: {show: 'step==="from"'}}
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %h4 Where are you starting from?
      .row
        .col-md-7.col-md-offset-2.col-xs-11{'style' => 'line-height: 2em; padding-right: 0px;'}
          %autocomplete{'inputclass' => 'clearable', 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'fromChoice'}}
        .col-md-1.col-xs-1{'style' => 'line-height: 2em; padding-left: 0px;'}
          %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'clearFrom()'}}
            %i.fa.fa-times.fa-lg{style:'color: white;'}
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %div.map-canvas{'ui-map' => 'fromLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    %form.to-location{ng: {show: 'step==="to"'}}
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %h4 Where are you going?
      .row
        .col-md-7.col-md-offset-2.col-xs-11{'style' => 'line-height: 2em; padding-right: 0px;'}
          %autocomplete{'inputclass' => 'clearable', 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'toChoice'}}
        .col-md-1.col-xs-1{'style' => 'line-height: 2em; padding-left: 0px;'}
          %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'clearTo()'}}
            %i.fa.fa-times.fa-lg{style:'color: white;'}
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %div.map-canvas{'ui-map' => 'toLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    .need-return-trip{ng: {show: 'step==="needReturnTrip"'}}
      .text-center
        %h4 Do you need a return trip?
        %a.btn.btn-success{ng: {href: '#/plan/returnDate'}}
          Yes
        %a.btn.btn-success{ng: {click: 'setNoReturnTrip()'}}
          No

    .return-date{ng: {show: 'step==="returnDate"'}}
      %form
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %h4 What day do you want to return?
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %p.input-group{'ng-show' => 'html5', 'style' => 'width: 100%;'}
              %input#returnDate.form-control{min: "{{minReturnDate | date:'yyyy-MM-dd'}}", focus: '', type: 'date', ng: {model: 'returnDate', required: 'true', enter: 'next()'}}
            %p.input-group{'ng-show' => '!html5', }
              %input.form-control{'type' => 'text', 'datepicker-popup' => "MMMM-dd-yyyy", 'min-date' => 'fromDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'returnDate',}
                %span.input-group-btn
                  %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                    %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="returnTimeType"'}}
      .col-md-8.col-md-offset-2.col-xs-12
        .row
          .col-xs-12.pull-left
            %h3
              %span.timeTypeSelection{ng: {show: 'returnTimeType == "depart"'}} When do you want to get there?
              %span.timeTypeSelection{ng: {show: 'returnTimeType == "arrive"'}} When do you want to arrive by?
              %span.dropdown{dropdown: '', style: 'cursor: pointer;'}
                %i.fa.fa-lg.fa-sort-desc{dropdown_toggle: '', style: 'vertical-align: 15%; color: #2781FF;'}
                %ul.dropdown-menu.pull-right{dropdown_menu: ''}
                  %li{ng: {show: 'returnTimeType != "depart"'}}
                    %a{ng: {click: 'specifyReturnTimeType("depart")'}}
                      When do you want to get there?
                  %li{ng: {show: 'returnTimeType != "arrive"'}}
                    %a{ng: {click: 'specifyReturnTimeType("arrive")'}}
                      When do you want to arrive by?
        .row
          %timepicker.timepicker{ng: {model: 'returnTime', show: '!mobile'}}
          %input#fromTime.form-control{type: 'time', ng: {model: 'returnTime', required: 'true', show: 'mobile && html5'}}
          %h4.btn-danger{ng: {show: 'disableNext'}} You must select a time after your outbound trip!

    .purpose{ng: {show: 'step==="purpose"'}}
      .text-center
        %h4 What is your trip purpose?
      .row
        .col-md-8.col-md-offset-2
          .col-xs-12.col-md-6{ng: {repeat: 'purpose in purposes'}}
            %a.btn.btn-success.btn-block{style: 'white-space: normal; margin-bottom:4px;', ng: {click: 'specifyTripPurpose("{{ purpose.name }}")'}}
              {{ purpose.name }}

    .confirm{ng: {show: 'step==="confirm"'}}
      .row.row-eq-height.rounded-border{style: "border: 0px;"}
        .col-xs-12.col-md-6.col-md-offset-3
          %h3
            My ride request
      .row.truncate
        .col-xs-12.col-md-6.col-md-offset-3
          .row.row-eq-height.rounded-border
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                From
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.fromLine1}}
              %h5.text-muted.text-left
                {{request.fromLine2}}

          .row.row-eq-height.rounded-border
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                To
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.toLine1}}
              %h5.text-muted.text-left
                {{request.toLine2}}

          .row.row-eq-height.rounded-border{ng: {show: '!request.roundtrip || request.sameday'}}
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                When
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.when1}}
                %h5.text-muted.text-left
                  Leaving: {{request.when2}}
                %h5.text-muted.text-left{ng: {show: 'request.when4'}}
                  Returning: {{request.when4}}

          %div.rounded-border{style: "margin-left: -15px; margin-right: -15px;", ng: {show: 'request.roundtrip && !request.sameday'}}
            .row.row-eq-height{style: "margin-left: 0px; margin-right: 0px;"}
              .col-xs-3.col-md-2
                %p.text-left.text-muted
                  Depart
              .col-xs-9.col-md-10
                %h4.text-left
                  {{request.when1}}
                %h5.text-muted.text-left
                  {{request.when2}}
            .row.row-eq-height{style: "margin-left: 0px; margin-right: 0px;"}
              .col-xs-3.col-md-2
                %p.text-left.text-muted
                  Return
              .col-xs-9.col-md-10
                %h4.text-left
                  {{request.when3}}
                %h5.text-muted.text-left
                  {{request.when4}}

          .row.row-eq-height.rounded-border
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                Purpose
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.purpose}}
      .row
        .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4.text-center
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Search for ride!
          %a.btn-block{"ng-href" => "#/plan/fromDate"}
            No, change my request

    .list_itineraries.col-xs-12.col-sm-8.col-sm-offset-2{ng: {show: 'step==="list_itineraries" && noresults == true'}}
      %h2 We did not find any rides matching your request
      %a.btn-block{"ng-href" => "#/plan/fromDate"}
        Change my request

    .list_itineraries.col-xs-12.col-sm-8.col-sm-offset-2{ng: {show: 'step==="list_itineraries" && noresults == false'}}
      %h2{ng: {show: 'fare_info.roundtrip'}} Here are your round-trip options:
      %h2{ng: {show: '!fare_info.roundtrip'}} Here are your one-way trip options:

      %a.no_underline.row.row-eq-height.rounded-border{ng: {href: '#/transitoptions/0', show: 'fare_info["mode_transit"] && transitInfos[0].length >  1'}}
        .row.even-height-row.table-compact
          .col-xs-2.col-height-slave
            %img.img-responsive{ng: {src: 'images/modes/transit.png'}}
          .col-xs-4.col-height-master
            .row.row-eq-height.table-compact
              .col-xs-12{style: "font-size: large"}
                Bus
          .col-xs-2.col-height-master
            .row.row-eq-height.table-compact
              .col-xs-12{style: "font-size: large"}
                ${{fare_info["mode_transit"]}}
          .col-xs-4.col-height-slave
            .row.row-eq-height.table-compact.pull-right
              .col-xs-12
                %span.fa-lg.pull-right
                  %i.fa.fa-chevron-circle-right.fa-lg

      %a.no_underline.row.row-eq-height.rounded-border{ng: {show: 'transitInfos[0].length == 1', href: '#/transit/0/{{transitInfo.id}}', repeat: 'transitInfo in transitInfos[0]'}}
        .row.even-height-row.table-compact
          .col-xs-2.col-height-slave
            %img.img-responsive{ng: {src: 'images/modes/transit.png'}}
          .col-xs-6.col-height-master
            .row.row-eq-height.table-compact
              .col-xs-12
                Bus
            .row.row-eq-height.table-compact
              .col-xs-12
                %p.text-left.text-muted
                  Travel time: {{transitInfo.travelTime}}
            .row.row-eq-height.table-compact
              .col-xs-12
                %p.text-left.text-muted
                  Start time: {{transitInfo.startDesc}}
          .col-xs-4.col-height-slave
            .row.row-eq-height.table-compact.pull-right
              .col-xs-12
                ${{transitInfo.cost}}
            .route-badge
              %img{style: 'height: 20px;', ng: {src: 'images/modes/transit.png'}}
              %span {{transitInfo.route}}

      %a.no_underline.row.row-eq-height.rounded-border{ng: {href: '#/plan/sharedride_options_1', show: 'fare_info["mode_paratransit"] && email'}}
        .row.even-height-row.table-compact
          .col-xs-2.col-height-slave
            %img.img-responsive{ng: {src: 'images/modes/paratransit.png'}}
          .col-xs-6.col-height-master

            .row.row-eq-height.table-compact{style: "font-size: large"}
              .col-xs-12
                Shared Ride
            .sharedridesegment{ng: {repeat: 'itinerary in paratransitItineraries'}}
              .row.table-compact{ng: {show: '$first && paratransitItineraries.length > 1'}}
                .col-xs-12
                  %p.text-left{style: 'text-decoration: underline;'}
                    Outbound trip
              .row.table-compact{ng: {show: '$last && paratransitItineraries.length > 1'}}
                .col-xs-12
                  %p.text-left{style: 'text-decoration: underline;'}
                    Return trip
              .row.table-compact
                .col-xs-12
                  %p.text-left.text-muted
                    Travel time: {{itinerary.travelTime}}
              .row.table-compact
                .col-xs-12
                  %p.text-left.text-muted
                    Start: {{itinerary.startDesc}}
          .col-xs-4.col-height-slave
            .row.row-eq-height.table-compact.pull-right
              .col-xs-12{style: "font-size: large"}
                ${{fare_info["mode_paratransit"]}}

      %a.no_underline.row.row-eq-height.rounded-border{ng: {href: '#/plan/discounts', show: 'fare_info["mode_paratransit"] && !email'}}
        .row.even-height-row.table-compact
          .col-xs-2.col-height-slave
            %img.img-responsive{ng: {src: 'images/modes/paratransit.png'}}
          .col-xs-6.col-height-master
            .row.row-eq-height.table-compact
              .col-xs-12
                Shared Ride
            .row.table-compact
              .col-xs-12
                %p.text-left.text-muted
                  Travel time: {{fare_info.paratransitTravelTime}}
              .col-xs-12
                %p.text-left.text-muted
                  Start time: {{fare_info.paratransitStartTime}}
          .col-xs-4.col-height-slave
            .row.row-eq-height.table-compact.pull-right
              .col-xs-12
                {{fare_info["mode_paratransit"]}}


      %a.text-center.btn-block{ng: {href: '#/plan/alternative_options', show: 'showAlternativeOption'}}
        More options

    .col-xs-12.col-sm-8.col-sm-offset-2{ng: {show: 'step==="alternative_options"'}}
      %h2 Here are your alternative trip options:
      %a.no_underline.row.row-eq-height.rounded-border{ng: {href: '#/walkconfirm', show: 'walkItineraries'}}
        .col-xs-2
          %img.img-responsive{ng: {src: 'images/modes/walk.png'}}
        .col-xs-4
          .row.row-eq-height{style: "border: 0px; margin: 0px; padding: 0px"}
            .col-xs-9{style: "font-size: large"}
              Walk
          .walkitinerary{index: '{{$index}}', ng: {repeat: 'itinerary in walkItineraries'}}
            .row.table-compact{ng: {show: '$first && walkItineraries.length > 1'}}
              .col-xs-12
                %p.text-left{style: 'text-decoration: underline;'}
                  Outbound trip
            .row.table-compact{ng: {show: '$last && walkItineraries.length > 1'}}
              .col-xs-12
                %p.text-left{style: 'text-decoration: underline;'}
                  Return trip
            .row{style: "border: 0px; margin: 0px; padding: 0px"}
              .col-xs-12
                %p.text-left.text-muted{style: "border: 0px; margin: 0px; padding: 0px"}
                  Distance: {{itinerary.walkDistanceDesc}} miles
              .col-xs-12
                %p.text-left.text-muted{style: "border: 0px; margin: 0px; padding: 0px"}
                  Travel time: {{itinerary.walkTimeDesc}}
        .col-xs-2{style: "font-size: large"}
          Free

      %a.no_underline.row.row-eq-height.rounded-border{ng: {href: '#/plan/sharedride_options_1', show: 'fare_info["mode_taxi"]'}}
        .col-xs-2
          %img.img-responsive{ng: {src: 'images/modes/taxi.png'}}
        .col-xs-4
          .row.row-eq-height{style: "border: 0px; margin: 0px; padding: 0px"}
            .col-xs-9{style: "font-size: large"}
              Taxi
          .row{style: "border: 0px; margin: 0px; padding: 0px"}
            .col-xs-12
              %p.text-left.text-muted{style: "border: 0px; margin: 0px; padding: 0px"}
                Cost: ${{taxiItinerary.cost}}
        .col-xs-2{style: "font-size: large"}
          Free

    .bus_options{ng: {show: 'step==="bus_options"'}}
      .row{style: "margin: 0px; padding: 0px"}
        .col-xs-2.col-lg-1
          %img{style: '', ng: {src: 'images/modes/transit.png'}}
        .col-xs-10.col-lg-11{style: 'margin-left: -.5em; margin-top: -.5em;'}
          .row
            .col-xs-12
              %h3 Bus Options:
          .row
            .col-xs-12.text-muted
              %h4 Click an option to view details about it

      .row
        .bus.rounded-border{style: "padding: 1em", ng: {repeat: 'transitInfo in transitInfos[0]', click: 'selectTransitTrip(transitInfo.id);'}}
          .row
            .col-xs-8
              .badge.alert-success{style: "font-size: large"} {{transitInfo.label}}
            .col-xs-3.pull-right{style: 'border-left: 1px solid grey; border-bottom: 1px solid grey;  padding: .5em; margin-top: -1em; width: auto'}
              .pull-right.blah{style: 'height: 2em;'}
                %img{style: 'max-height:100%; ', ng: {src: 'images/modes/transit.png'}}
                %span{style: "font-size: large; vertical-align: bottom;"} {{transitInfo.route}}
          .row{style: "margin-top: .5em"}
            .col-xs-12.text-muted
              Fare ${{transitInfo.cost}}
          .row{style: "margin-top: .5em"}
            .col-xs-12.text-muted
              Leave {{transitInfo.startDesc}}
          .row
            .col-xs-12.text-muted
              Arrive {{transitInfo.endDesc}}
          .row
            .col-xs-12.text-muted{style: 'font-size: 1em'}
              Total trip time is {{transitInfo.travelTime}}


    .depart-time{ng: {show: 'step==="sharedride_options_1"'}}
      %form
        .form-group.text-center
          %h2 Who will be riding with you?
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %a.btn.btn-success.btn-block{ng: {click: 'specifySharedRideCompanion("false")'}, style: 'white-space: normal; margin-bottom:4px;'}
              No, I'm on my own
            %a.text-center.btn-block{ng: {click: 'specifySharedRideCompanion("true")'}, style: 'white-space: normal; margin-bottom:4px; cursor:pointer;'}
              Yes, I have a companion or escort with me

    .depart-time{ng: {show: 'step==="sharedride_options_2"'}}
      .col-md-8.col-md-offset-2.col-xs-12
        .form-group{ng: {show: "questionCodes.indexOf('assistant') > -1"}}
          %h4 Who will be riding with you?
        .row{ng: {show: "questionCodes.indexOf('assistant') > -1"}}
          .col-md-6.col-md-offset-3.col-xs-12
            %input{type: 'checkbox', ng: {model: 'hasEscort'}}
              I'll have an escort
        .row{ng: {show: "questionCodes.indexOf('companions') > -1"}}
          .col-md-6.col-md-offset-3.col-xs-12
            %input{type: 'checkbox', ng: {model: 'hasCompanion'}}
              I'll have companions with me
        .row{ng: {show: 'hasCompanion'}}
          .col-md-6.col-md-offset-3.col-xs-12
            .row
              .col-xs-10.col-xs-offset-1
                How many?
                %input{type: 'number',min: '0', max: '10', ng: {model: 'numberOfCompanions'}}
        .row{ng: {show: "questionCodes.indexOf('children') > -1"}}
          .col-md-6.col-md-offset-3.col-xs-12
            %input{type: 'checkbox', ng: {model: 'hasFamily'}}
              I'll have family members with me
        .row{ng: {show: 'hasFamily'}}
          .col-md-6.col-md-offset-3.col-xs-12
            .row
              .col-xs-10.col-xs-offset-1
                How many?
                %input{type: 'number',min: '0', max: '10', ng: {model: 'numberOfFamily'}}


    .depart-time{ng: {show: 'step==="sharedride_options_3"'}}
      .col-md-8.col-md-offset-2.col-xs-12
        .form-group
          %h4 If you have any special instructions for the driver, please enter them below
          %h4c This is optional
        .row
          .form-group
            %textarea.form-control{placeholder: 'Dear Driver, please...', rows: '5', ng: {model: 'driverInstructions'}}

    .depart-time{ng: {show: 'step==="book_shared_ride"'}}
      .row
        .col-md-4.col-md-offset-4
          %h1 Ready to book this?
      .row
        .col-md-4.col-md-offset-4
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Book this shared ride
      .row
        .col-md-4.col-md-offset-4.text-center
          %a{"ng-href" => "#/plan/fromDate"}
            No, change it

    .depart-time{ng: {show: 'step==="confirm_shared_ride"'}}
      .alert.alert-success
        %h4 Success!
        %h5 Your trip is booked
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ getFromDateString() }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Type
            .col-xs-9
              Shared Ride

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Fare
            .col-xs-9
              $4.35

      .row
        .col-md-6.col-md-offset-3.col-xs-12
          %a.btn.btn-success.btn-block{ng: {click: ''}}
            Email my itinerary
          %a.center-block.btn.btn-success{"ng-href" => "#/"}
            Return to home screen


    .discounts{ng: {show: 'step==="discounts"'}}
      .discounts-body.col-md-8.col-md-offset-2.col-xs-12
        .row.discounts-header
          .col-xs-12.pull-left
            %h1 Shared Rides
            %h3 Provided by the Commonwealth of PA
        .row{index: '{{$index}}', ng: {repeat: 'discount in paratransitItinerary.discounts'}}
          .col-xs-12.discounts-row
            .col-xs-6.pull-left
              %h3 {{discount.comment}}
            .col-xs-6.pull-right
              %h3 ${{discount.fare}}
              %span.or-less or less
        .row{style: 'margin-top: 2em; padding-bottom: 0px; border-bottom: hidden;'}
          .col-xs-12.discounts-row.pull-left{style: 'color: black;'}
            %h3 You must sign up in advance to use Shared Ride services
        .row
          .col-xs-12.discounts-row.pull-left{style: 'color: black; border-top: hidden;'}
            %h4
              .fa.fa-phone
              Call to learn more
              %span.btn-next
                (XXX) XXX-XXXX
        .row
          .col-xs-12.pull-left.no-padding
            %h4 Already a Shared Ride member?
            %h4.btn-next Login to book a ride

    .discounts{ng: {show: 'step==="my_rides"'}}
      .col-md-8.col-md-offset-2.col-xs-12
        %tabset
          %tab{'heading' => 'Today ({{trips.today.length}})'}
            .myride{index: '{{$index}}', ng: {click: 'tripDivs.today[$index] = !tripDivs.today[$index]', repeat: 'trip in trips.today'}}
              .row
                .col-xs-2.col-height-slave
                  %img.img-responsive{ng: {src: 'images/modes/paratransit.png', show: 'trip.mode == "mode_paratransit"'}}
                  %img.img-responsive{ng: {src: 'images/modes/transit.png', show: 'trip.mode == "mode_transit"'}}
                  %img.img-responsive{ng: {src: 'images/modes/walk.png', show: 'trip.mode == "mode_walk"'}}
                .col-xs-10.col-height-master{style: 'width: 60em !important;'}
                  .row
                    .col-xs-12
                      %h4 {{trip.from_place}} to {{trip.to_place}}
                  .row
                    .col-xs-8
                      %h5.blue-text {{trip.startDesc}}
                    .col-xs-4
                      %h5.text-muted.text-right{ng: {show: 'trip.roundTrip'}} (round trip)
                      %h5.text-muted.text-right{ng: {show: '!trip.roundTrip'}} (one way)
              .animate-show.myride-buttons{ng: {show: 'tripDivs.today[$index]'}}
                .row.even-height-row{ng: {show: 'trip.mode == "mode_paratransit"'}}
                  .col-xs-6.col-height-master{style: 'text-align: right;'}
                    %span.fa-stack
                      %i.fa.fa-circle.fa-stack-2x
                      %i.fa.fa-times.fa-stack-1x{style: 'color: white;'}
                    %a.blue-text
                      Cancel ride
                  .col-xs-6.col-height-slave{style: 'text-align: left;'}
                    %span.fa-stack
                      %i.fa.fa-share-square-o.fa-stack-2x
                    %a.blue-text
                      Send to friend
                .row.even-height-row{ng: {show: 'trip.mode != "mode_paratransit"'}}
                  .col-xs-12.col-height-slave.text-center
                    %span.fa-stack
                      %i.fa.fa-share-square-o.fa-stack-2x
                    %a.blue-text
                      Send to friend
          %tab{'heading' => 'Future ({{trips.future.length}})'}
            .myride{'index' => '{{$index}}', ng: {click: 'tripDivs.future[$index] = !tripDivs.future[$index]', repeat: 'trip in trips.future'}}
              .row
                .col-xs-2.col-height-slave
                  %img.img-responsive{ng: {src: 'images/modes/paratransit.png', show: 'trip.mode == "mode_paratransit"'}}
                  %img.img-responsive{ng: {src: 'images/modes/transit.png', show: 'trip.mode == "mode_transit"'}}
                  %img.img-responsive{ng: {src: 'images/modes/walk.png', show: 'trip.mode == "mode_walk"'}}
                .col-xs-10.col-height-master{style: 'width: 60em !important;'}
                  .row
                    .col-xs-12
                      %h4 {{trip.from_place}} to {{trip.to_place}}
                  .row
                    .col-xs-8
                      %h5.blue-text {{trip.startDesc}}
                    .col-xs-4
                      %h5.text-muted.text-right (round trip)
              .animate-show.myride-buttons{ng: {show: 'tripDivs.future[$index]'}}
                .row.even-height-row{ng: {show: 'trip.mode == "mode_paratransit"'}}
                  .col-xs-6.col-height-master{style: 'text-align: right;'}
                    %span.fa-stack
                      %i.fa.fa-circle.fa-stack-2x
                      %i.fa.fa-times.fa-stack-1x{style: 'color: white;'}
                    %a.blue-text
                      Cancel ride
                  .col-xs-6.col-height-slave{style: 'text-align: left;'}
                    %span.fa-stack
                      %i.fa.fa-share-square-o.fa-stack-2x
                    %a.blue-text
                      Send to friend
                .row.even-height-row{ng: {show: 'trip.mode != "mode_paratransit"'}}
                  .col-xs-12.col-height-slave.text-center
                    %span.fa-stack
                      %i.fa.fa-share-square-o.fa-stack-2x
                    %a.blue-text
                      Send to friend
          %tab{'heading' => 'Past ({{trips.past.length}})'}
            .myride{'index' => '{{$index}}', ng: {click: 'tripDivs.past[$index] = !tripDivs.past[$index]', repeat: 'trip in trips.past'}}
              .row
                .col-xs-2.col-height-slave
                  %img.img-responsive{ng: {src: 'images/modes/paratransit.png', show: 'trip.mode == "mode_paratransit"'}}
                  %img.img-responsive{ng: {src: 'images/modes/transit.png', show: 'trip.mode == "mode_transit"'}}
                  %img.img-responsive{ng: {src: 'images/modes/walk.png', show: 'trip.mode == "mode_walk"'}}
                .col-xs-10.col-height-master{style: 'width: 60em !important;'}
                  .row
                    .col-xs-12
                      %h4 {{trip.from_place}} to {{trip.to_place}}
                  .row
                    .col-xs-8
                      %h5.blue-text {{trip.startDesc}}
                    .col-xs-4
                      %h5.text-muted.text-right (round trip)
              .animate-show.myride-buttons{ng: {show: 'tripDivs.past[$index]'}}
                .row.even-height-row
                  .col-xs-12.col-height-slave.text-center
                    %span.fa-stack
                      %i.fa.fa-share-square-o.fa-stack-2x
                    %a.blue-text
                      Send to friend
        .row{style: 'margin-top: 10px'}
          .col-md-4.col-md-offset-4.col-xs-12.text-center
            %a.btn.btn-success.btn-block{ng: {href: '#/plan/from'}}
              Plan a new trip
  .container.sticky-footer{ng: {hide: 'hideButtonBar'}}
    .row{style: 'margin-top: 10px'}
      .col-md-8.col-md-offset-2.col-xs-6.col-xs-offset-3
        .pull-left
          %a.btn-back{back: '', ng: {click: "back()"}}
            %span{ng: {include: "'views/button-chevron-left.html'"}}
            Back
        .pull-right
          %a.btn-next{ng: {show: 'showNext', click: 'next()'}}
            %span{ng: {show: 'step!=="sharedride_options_3" || driverInstructions'}} Next
            %span{ng: {show: 'step==="sharedride_options_3" && !driverInstructions'}} Skip
            %span{ng: {include: "'views/button-chevron-right.html'"}}

