.plan
  .container
    %span{'us-spinner' => '', 'spinner-key' => "spinner-1"}
    .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
      %b API Error :
      %span {{ apiStatus }}

    .depart-date{ng: {show: 'step==="fromDate"'}}
      %form
        .form-group
          .row
            .col-md-4.col-md-offset-4.col-xs-12
              %h4{ng: {show: 'planService.username'}} Hi {{ planService.username }}!
              %h4 What day do you want to leave?
              %p.input-group
                %input.form-control{'type' => 'text', 'datepicker-popup' => "MMMM-dd-yyyy", 'min-date' => 'minDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'fromDate',}
                  %span.input-group-btn
                    %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                      %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="fromTimeType"'}}
      .row
        .col-md-4.col-md-offset-4.col-xs-12.text-center
          %h4 What time are you leaving?
          %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("asap")', show: 'showAsap'}}
            As soon as possible
          %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("depart")'}}
            Enter departure time
          %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("arrive")'}}
            Enter arrival time

    .depart-time{ng: {show: 'step==="fromTime"'}}
      %form
        .row
          .text-center
            %h4 What time would you like to {{ planService.fromTimeType }}?
        .row
          .text-center
            %timepicker.timepicker{ng: {model: 'fromTime'}}
            %h4.btn-danger{ng: {show: 'disableNext'}} You must select a time in the future!


    .use-current-location{ng: {show: 'step==="start_current"'}}
      .row
        .text-center
          %h4 Start at your current location?
          %a.btn.btn-success{ng: {click: 'getCurrentLocation()'}}
            Yes
          %a.btn.btn-success{ng: {href: '#/plan/from'}}
            No

    .map-wrapper.text-center{ng: {show: 'step==="from_confirm" && showConfirmLocationMap'}}
      %h5 Here's the address we found for your location:
      %h5 {{ planService.from }}
      %div.map-canvas{'ui-map' => 'confirmFromLocationMap', 'ui-options' => 'mapOptions', 'style' => 'margin-bottom: 10px'}
      .col-md-4.col-md-offset-4.col-xs-12
        %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
          Yes, use this address
        %a.btn.btn-success.btn-block{ng: {click: 'overrideCurrentLocation()'}}
          No, I'll enter the address myself

      %p
        {{greeting}}

    %form.from-location{name: 'from_location', ng: {show: 'step==="from"'}}
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %h4 Where are you starting from?
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %div#overlayWrapper
            %autocomplete{'clear-input' => '', 'inputclass' => 'clearable', 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'fromChoice'}}
      %div.map-canvas{'ui-map' => 'fromLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    %form.to-location{ng: {show: 'step==="to"'}}
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %h4 Where are you going?
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          %autocomplete{'clear-input' => '', 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'toChoice'}}
      %div.map-canvas{'ui-map' => 'toLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    .need-return-trip{ng: {show: 'step==="needReturnTrip"'}}
      .text-center
        %h4 Do you need a return trip?
        %a.btn.btn-success{ng: {href: '#/plan/returnDate'}}
          Yes
        %a.btn.btn-success{ng: {href: '#/plan/confirm'}}
          No

    .return-date{ng: {show: 'step==="returnDate"'}}
      %form
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %h4 What day do you want to return?
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %p.input-group
              %input.form-control{'type' => 'text', 'datepicker-popup' => "MMMM-dd-yyyy", 'min-date' => 'fromDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'returnDate',}
                %span.input-group-btn
                  %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                    %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="returnTimeType"'}}
      .text-center
        %h4 What time are you returning?
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %a.btn.btn-success.btn-block{ng: {click: 'specifyReturnTimeType("depart")'}}
              Enter departure time
            %a.btn.btn-success.btn-block{ng: {click: 'specifyReturnTimeType("arrive")'}}
              Enter arrival time

    .return-time{ng: {show: 'step==="returnTime"'}}
      .text-center
        %h4 What time would you like to {{ planService.returnTimeType }} on your return trip?
        .row
          .col-md-4.col-md-offset-4.col-xs-6.col-xs-offset-3
            %timepicker.timepicker{ng: {model: 'returnTime'}}
            %h4.btn-danger{ng: {show: 'disableNext'}} You must select a time after your outbound trip!

    .purpose{ng: {show: 'step==="purpose"'}}
      .text-center
        %h4 What is your trip purpose?
      .row
        .col-md-8.col-md-offset-2
          .col-xs-12.col-md-6{ng: {repeat: 'purpose in purposes'}}
            %a.btn.btn-success.btn-block{style: 'white-space: normal; margin-bottom:4px;', ng: {click: 'specifyTripPurpose("{{ purpose.name }}")'}}
              {{ purpose.name }}



    .confirm{ng: {show: 'step==="confirm"'}}
      .row.row-eq-height.rounded-border{style: "border: 0px;"}
        .col-xs-12.col-md-6.col-md-offset-3
          %h3
            My ride request
      .row.truncate
        .col-xs-12.col-md-6.col-md-offset-3
          .row.row-eq-height.rounded-border
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                From
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.fromLine1}}
              %h5.text-muted.text-left
                {{request.fromLine2}}

          .row.row-eq-height.rounded-border
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                To
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.toLine1}}
              %h5.text-muted.text-left
                {{request.toLine2}}

          .row.row-eq-height.rounded-border{ng: {show: '!request.roundtrip || request.sameday'}}
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                When
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.when1}}
                %h5.text-muted.text-left
                  {{request.when2}}
                %h5.text-muted.text-left{ng: {show: 'request.when3'}}
                  {{request.when3}}

          %div.rounded-border{style: "margin-left: -15px; margin-right: -15px;", ng: {show: 'request.roundtrip && !request.sameday'}}
            .row.row-eq-height{style: "margin-left: 0px; margin-right: 0px;"}
              .col-xs-3.col-md-2
                %p.text-left.text-muted
                  Depart
              .col-xs-9.col-md-10
                %h4.text-left
                  {{request.when1}}
                %h5.text-muted.text-left
                  {{request.when2}}
            .row.row-eq-height{style: "margin-left: 0px; margin-right: 0px;"}
              .col-xs-3.col-md-2
                %p.text-left.text-muted
                  Return
              .col-xs-9.col-md-10
                %h4.text-left
                  {{request.when3}}
                %h5.text-muted.text-left
                  {{request.when4}}

          .row.row-eq-height.rounded-border
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                Purpose
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.purpose}}
      .row
        .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4.text-center
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Search for ride!
          %a.btn-block{"ng-href" => "#/plan/from"}
            No, change my request





    .list_itineraries{ng: {show: 'step==="list_itineraries"'}}
      %h2 Here are your trip options:
      .row.row-eq-height.rounded-border{ng: {click: 'selectTransit()', show: 'fare_info["mode_transit"]'}}
        .col-xs-2
          %img.img-responsive{ng: {src: 'images/modes/transit.png'}}
        .col-xs-4{style: "font-size: large"}
          Bus
        .col-xs-3{style: "font-size: large"}
          {{fare_info["mode_transit"]}}
        .col-xs-1
          %span.fa-lg.pull-right
            %i.fa.fa-chevron-circle-right.fa-lg
      .row.row-eq-height.rounded-border{ng: {click: 'selectSharedRide()'}}
        .col-xs-2
          %img.img-responsive{ng: {src: 'images/modes/paratransit.png'}}
        .col-xs-10
          .row.row-eq-height{style: "border: 0px; margin: 0px; padding: 0px"}
            .col-xs-9{style: "font-size: large"}
              Shared Ride
            .col-xs-2{style: "font-size: large"}
              $4.35
          .row{style: "border: 0px; margin: 0px; padding: 0px"}
            .col-xs-12
              %p.text-left.text-muted{style: "border: 0px; margin: 0px; padding: 0px"}
                Travel time: 22 minutes
            .col-xs-12
              %p.text-left.text-muted{style: "border: 0px; margin: 0px; padding: 0px"}
                Wait time 1 hour
    .bus_options{ng: {show: 'step==="bus_options"'}}
      .row{style: "margin: 0px; padding: 0px"}
        .col-xs-2.col-lg-1
          %img{style: '', ng: {src: 'images/modes/transit.png'}}
        .col-xs-10.col-lg-11{style: 'margin-left: -.5em; margin-top: -.5em;'}
          .row
            .col-xs-12
              %h3 Bus Options:
          .row
            .col-xs-12.text-muted
              %h4 Click to select one

      .bus.rounded-border{style: "padding: 1em", ng: {repeat: 'transitInfo in transitInfos'}}
        .row
          .col-xs-8
            .badge.alert-success{style: "font-size: large"} {{transitInfo.label}}
          .col-xs-3.pull-right{style: 'border-left: 1px solid grey; border-bottom: 1px solid grey;  padding: .5em; margin-top: -1em; width: auto'}
            .pull-right.blah{style: 'height: 2em;'}
              %img{style: 'max-height:100%; ', ng: {src: 'images/modes/transit.png'}}
              %span{style: "font-size: large; vertical-align: bottom;"} {{transitInfo.route}}

        .row{style: "margin-top: .5em"}
          .col-xs-12.text-muted
            Leave {{transitInfo.startDesc}}
        .row
          .col-xs-12.text-muted
            Arrive {{transitInfo.endDesc}}
        .row
          .col-xs-12.text-muted{style: 'font-size: 1em'}
            Total trip time is {{transitInfo.travelTime}}


    .depart-time{ng: {show: 'step==="sharedride_options_1"'}}
      %form
        .form-group
          %h2 Will anyone be riding with you today?
        .row
          .col-md-6.col-md-offset-3.col-xs-12
            %a.btn.btn-success.btn-block{ng: {click: 'specifySharedRideCompanion("false")'}, style: 'white-space: normal; margin-bottom:4px;'}
              No, I'm on my own
            %a.text-center.btn-block{ng: {click: 'specifySharedRideCompanion("true")'}, style: 'white-space: normal; margin-bottom:4px;'}
              Yes, I have a companion or escort with me


    .depart-time{ng: {show: 'step==="sharedride_options_2"'}}
      %form
        .form-group
          %h4 If you have any special instructions for the driver, please enter them below
          %h4.text-muted This is optional
        .row
          .form-group
            %textarea.form-control{placeholder: 'Dear Driver, please...', rows: '5'}

    .depart-time{ng: {show: 'step==="book_shared_ride"'}}
      %h2 Are you ready to book this ride?
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ getFromDateString() }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Type
            .col-xs-9
              Shared Ride

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Fare
            .col-xs-9
              $4.35

      .row
        .col-md-2.col-md-offset-5
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Yes, book it!
          %a.btn.btn-warning.btn-block{"ng-href" => "#/plan/fromDate"}
            No, change my request
          %a.btn.btn-danger.btn-block{ng: {click: ''}}
            Cancel my request

    .depart-time{ng: {show: 'step==="confirm_shared_ride"'}}
      .alert.alert-success
        %h4 Success!
        %h5 Your trip is booked
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ getFromDateString() }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Type
            .col-xs-9
              Shared Ride

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Fare
            .col-xs-9
              $4.35

      .row
        .col-md-6.col-md-offset-3.col-xs-12
          %a.btn.btn-success.btn-block{ng: {click: ''}}
            Email my itinerary
          %a.center-block.btn.btn-success{"ng-href" => "#/"}
            Return to home screen

  .container
    .row{style: 'margin-top: 10px'}
      .col-md-8.col-md-offset-2.col-xs-12
        .pull-left
          %a.btn.btn-success{ ng: {show: 'showBack',click: "back()"}}
            %span{ng: {include: "'views/button-chevron-left.html'"}}
            Back
        .pull-right
          %a.btn.btn-success{ng: {show: 'showNext', click: 'next()', disabled: 'disableNext'}}
            Next
            %span{ng: {include: "'views/button-chevron-right.html'"}}
          %a.btn.btn-success{ng: {href: "#/plan2", show: 'readyToPlan()'}}
            Plan My Trip
            %span{ng: {include: "'views/button-chevron-right.html'"}}

