.row.rounded-border{style: "border: 0px;"}
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    %h3
      %strong
        My ride request
.row.truncate
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    .no_underline.row.rounded-border{ng:{click:'goPlanWhere()'}}
      .col-xs-3.col-md-2
        %p.text-left.text-muted
          From
      .col-xs-9.col-md-10
        %h4.text-left
          {{request.fromLine1}}
        %h5.text-muted.text-left
          {{request.fromLine2 | noCountry}}

    .no_underline.row.rounded-border{ng:{click:'goPlanWhere()'}}
      .col-xs-3.col-md-2
        %p.text-left.text-muted
          To
      .col-xs-9.col-md-10
        %h4.text-left
          {{request.toLine1}}
        %h5.text-muted.text-left
          {{request.toLine2 | noCountry}}

    .no_underline.row.rounded-border{ng: {show: '!request.roundtrip || request.sameday', click:'goPlanWhen()' } }
      .col-xs-3.col-md-2
        %p.text-left.text-muted
          When
      .col-xs-9.col-md-10
        %h4.text-left
          {{request.when1}}
          %h5.text-muted.text-left
            {{request.when2}}
          %h5.text-muted.text-left{ng: {show: 'request.when4'}}
            {{request.when4}}

    .no_underline.rounded-border{style: "margin-left: -15px; margin-right: -15px;", ng: {show: 'request.roundtrip && !request.sameday', click:'goPlanWhen()'}}
      .row{style: "margin-left: 0px; margin-right: 0px;"}
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            Depart
        .col-xs-9.col-md-10
          %h4.text-left
            {{request.when1}}
          %h5.text-muted.text-left
            {{request.when2}}
      .row{style: "margin-left: 0px; margin-right: 0px;"}
        .col-xs-3.col-md-2
          %p.text-left.text-muted
            Return
        .col-xs-9.col-md-10
          %h4.text-left
            {{request.when3}}
          %h5.text-muted.text-left
            {{request.when4}}

    .no_underline.row.rounded-border{ng:{show:'request.purpose', click:'goPlanPurpose()'}}
      .col-xs-3.col-md-2
        %p.text-left.text-muted
          Purpose
      .col-xs-9.col-md-10
        %h4.text-left
          {{request.purpose}}
    .row.rounded-border{'ng-hide'=>'showBusRides || paratransitItineraries.length == 0'}
      .col-xs-3.col-md-2
        %p.text-left.text-muted
          Cost
      .col-xs-9.col-md-10
        %h4.text-left
          {{fare_info["mode_paratransit"]}}


.row.rounded-border{style: "border: 0px;", ng:{show:'guestParatransitItinerary && !busRidesExpanded'}}
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    %h3
      %strong
        Shared Ride options
  .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    .no_underline.row.rounded-border{ng:{repeat:'discount in guestParatransitItinerary.discounts', click:'goPlanLogin()'}}
      .col-xs-3.col-md-2
        %p.text-left
          %strong
            {{discount.fare | currency}}
          .text-muted
            or less
      .col-xs-9.col-md-10
        %h4.text-muted
          {{discount.comment}}  

    
.notAllRides{'ng-hide'=>'showBusRides || paratransitItineraries.length == 0'}
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center{style:'padding:0px; margin-bottom:10px;'}
      %a.btn.btn-primary.btn-block{href: "", ng: {click: 'next()'}}
        Book this Shared Ride
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center{style:'padding:0px; '}
      .pull-left
        %a.btn{href: "", back: '', ng: {click: "back()"}}
          Back
      .pull-right
        %a.btn{ng:{show:'transitInfos.length>0 || walkItineraries.length>0', click: 'busRidesExpanded=true; showBusRides=!showBusRides'}}
          View more ride options



%div{style: "margin-top: 2em;", ng:{show:'showBusRides && walkItineraries[0]'}}
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      %h3
        %strong
          Walk
        %span{ng:{show: 'busRidesExpanded || loggedIn'}} options
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng:{click:'goViewWalk(walkItineraries[0].id, (walkItineraries[1] ? walkItineraries[1].id : 0))'}}
      .row.rounded-border
        .col-xs-10
          %h3{ng: {show: 'walkItineraries[1]' } }
            Going
          %h3{ng: {hide: 'walkItineraries[1]' } }
            One Way
        .col-xs-2.pull-right.bus-options-right
          %img{ng: {src: 'images/modes/walk.png'}, style:'width: 50%; vertical-align: middle;'}
          {{walkItineraries[0].route}}
        .col-xs-12
          .row{style:'padding: 0px 0px 10px 10px;'}
            .col-xs-10
              Leave {{walkItineraries[0].start_time | date:'h:mm a'}}
            .col-xs-2
              {{fare_info["mode_walk"] | currency | free}}
            .col-xs-10
              Arrive {{walkItineraries[0].end_time | date:'h:mm a'}}
          .row{style:'padding: 0px 0px 10px 10px;'}
            .col-xs-12
              Trip Time is {{walkItineraries[0].travelTime}}
            .col-xs-12
              Walking time is {{walkItineraries[0].walkTimeDesc}}

  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'walkItineraries[1]' } }
      .row.rounded-border
        .col-xs-12.text-center
          %h4.text-muted
            {{request.purpose}} {{howLong.minutes | minutes}}

  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'walkItineraries[1]', click:'goViewWalk(walkItineraries[0].id, (walkItineraries[1] ? walkItineraries[1].id : 0))'}}
      .row.rounded-border
        .col-xs-10
          %h3 Returning
        .col-xs-2.pull-right.bus-options-right
          %img{ng: {src: 'images/modes/walk.png'}, style:'width: 50%; vertical-align: middle;'}
          {{walkItineraries[1].route}}
        .col-xs-12
          .row{style:'padding: 0px 0px 10px 10px;'}
            .col-xs-10
              Leave {{walkItineraries[1].start_time | date:'h:mm a'}}
            .col-xs-2
              {{fare_info["mode_walk"] | currency | free}}
            .col-xs-10
              Arrive {{walkItineraries[1].end_time | date:'h:mm a'}}
          .row{style:'padding: 0px 0px 10px 10px;'}
            .col-xs-12
              Trip Time is {{walkItineraries[1].travelTime}}
            .col-xs-12
              Walking time is {{walkItineraries[1].walkTimeDesc}}

  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
      %a.btn.btn-primary.btn-block{href: "", style:"margin-top: .75em;", ng: {click: "saveWalkTrip()", hide:'walkSaved || walkCancelled'}}
        Save this walk trip
      %a.btn.btn-primary.btn-block{href: "", style:'background-color:red;',ng: {click: 'cancelThisWalkTrip()', show:'walkSaved'}}
        Cancel this trip

%div{style: "margin-top: 1em;", ng:{show:'(showBusRides  && transitInfos.length>0) || paratransitItineraries.length == 0'}}
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      %h3
        %strong
          Bus
          %span{ng:{show: 'busRidesExpanded || loggedIn'}} options

  .row{ng: {hide: 'busRidesExpanded || loggedIn', click:'busRidesExpanded = !busRidesExpanded'}}
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .no_underline.row.rounded-border
        .col-xs-3.col-md-2
          %p.text-left
            %strong
              {{fare_info["mode_transit"]}}
        .col-xs-9.col-md-10
          %h4.text-muted
            Public Transportation

  %div{ng: {show: 'busRidesExpanded || loggedIn' }}
    .row.bus-itinerary-details
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng:{click:'goViewTransit(transitInfos[0][0].id, ( transitInfos[1] || [{id:0}] )[0].id)'}}
        .row.rounded-border
          .col-xs-10
            %h3{ng: {show: 'transitInfos[1]' } }
              Going
            %h3{ng: {hide: 'transitInfos[1]' } }
              One Way
          .col-xs-2.pull-right.bus-options-right
            %img{ng: {src: 'images/modes/transit.png'}, style:'width: 50%; vertical-align: middle;'}
            {{transitInfos[0][0].route}}
          .col-xs-12
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-10
                Leave {{transitItineraries[0][0].start_time | date:'h:mm a'}}
              .col-xs-2
                {{fare_info["mode_transit"] | currency | free}}
              .col-xs-10
                Arrive {{transitItineraries[0][0].end_time | date:'h:mm a'}}
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-12
                Trip Time is {{transitItineraries[0][0].travelTime}}
              .col-xs-12
                Walking time is {{transitItineraries[0][0].walkTimeDesc}}

    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'transitInfos[1]' } }
        .row.rounded-border
          .col-xs-12.text-center
            %h4.text-muted
              {{request.purpose}} {{howLong.minutes | minutes}}

    .row
      .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'transitInfos[1]', click:'goViewTransit(transitInfos[0][0].id, ( transitInfos[1] || [{id:0}] )[0].id)' } }
        .row.rounded-border
          .col-xs-10
            %h3 Returning
          .col-xs-2.pull-right.bus-options-right
            %img{ng: {src: 'images/modes/transit.png'}, style:'width: 50%; vertical-align: middle;'}
            {{transitInfos[1][0].route}}
          .col-xs-12
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-10
                Leave {{transitItineraries[1][0].start_time | date:'h:mm a'}}
              .col-xs-2
                {{fare_info["mode_transit"]}}
              .col-xs-10
                Arrive {{transitItineraries[1][0].end_time | date:'h:mm a'}}
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-12
                Trip Time is {{transitItineraries[1][0].travelTime}}
              .col-xs-12
                Walking time is {{transitItineraries[1][0].walkTimeDesc}}

  .row{'ng-show'=>'loggedIn'}
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
      %a.btn.btn-primary.btn-block{href: "", style:"margin-top: .75em;", ng: {click: "saveBusTrip()", hide:'transitSaved || transitCancelled'}}
        Save this bus trip
      %a.btn.btn-primary.btn-block{href: "", style:'background-color:red;',ng: {click: 'cancelThisBusTrip()', show:'transitSaved'}}
        Cancel this trip
      
%div{'ng-show'=>'(showBusRides)'}
  .row.btn-spacing
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
      .pull-left
        %a.btn{href: "", back: '', ng: {click: "back()", hide:'transitSaved || transitCancelled || walkSaved || walkCancelled'}}
          Back
        %a.btn{href: "", ng: {click: "logout()", show:'loggedIn && (transitSaved || transitCancelled || walkSaved || walkCancelled)'}}
          Logout
      .pull-right
        %a.btn{ng:{show:'transitSaved || transitCancelled || walkSaved || walkCancelled', click: 'reset()'}}
          Book another ride
        %a.btn{ng:{show:'paratransitItineraries.length>0', click: 'showBusRides=!showBusRides'}}
          View less ride options
        %a.btn{ng:{show:'guestParatransitItinerary && busRidesExpanded', click: 'busRidesExpanded=!busRidesExpanded'}}
          View less ride options
