#PlanTemplate.container
  %span{'us-spinner' => '', 'spinner-key' => "spinner-1"}
  .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
    %b API Error :
    %span {{ apiStatus }}
  .travel-pattern-error
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .panel.panel-danger
          .panel-heading
            %h3
              %span.glyphicon.glyphicon-warning-sign
              Unable to Schedule Ride
          .panel-body
            %p{ng: {show: 'step === where'}}
              Not all trips can be scheduled online using FMR Schedule. Based on the trip origin and destination you have entered, this trip cannot be scheduled online.
            %p{ng: {show: 'step === purpose'}}
              Not all trips can be scheduled online using FMR Schedule. Based on the combination of trip origin, trip destination, and trip purpose you have entered, this trip cannot be scheduled online.
            %p{ng: {show: 'step === when'}}
              Not all trips can be scheduled online using FMR Schedule. Based on the combination of trip origin, trip destination, trip purpose, and date/time you have entered, this trip cannot be scheduled online.
            %p{ng: {show: 'step === summary'}}
              FMR Schedule cannot book your trip with the current details. Please contact your Local Transit Agency directly for trip booking assistance.
            %p
              Please contact your Local Transit Agency for additional trip scheduling options.
    .row.unstuck-foot.btn-spacing
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .pull-left
          %a.btn.btn-secondary{href: "/#/plan/where"}
            Start Over
        .pull-right
          %a.btn.btn-secondary{back: ''}
            Close and Edit
    .row.text-center{style:'margin: 30px 0px 10px 0px;'}
      Need Help? Please contact your Local Transit Agency 
      %span.glyphicon.glyphicon-new-window