.row
  .col-md-4.col-md-offset-4.text-center
    %h1
      %strong  
        My Rides
.row
  .col-md-8.col-md-offset-2.col-xs-12
    %tabset 
      %tab{'heading' => 'Upcoming ({{trips.future.length}})', 'active' => 'tabFuture'}
        .myride{'index' => '{{$index}}', ng: {init: 'tab = "future"', click: 'selectTrip($event, tab, $index)', repeat: 'trip in trips.future'}}
          .row
            .col-xs-2.col-height-slave
              %img.img-responsive{ng: {src: 'images/modes/paratransit.png', show: 'trip.mode == "mode_paratransit"'}}
              %img.img-responsive{ng: {src: 'images/modes/transit.png', show: 'trip.mode == "mode_transit"'}}
              %img.img-responsive{ng: {src: 'images/modes/walk.png', show: 'trip.mode == "mode_walk"'}}
              %img.img-responsive{ng: {src: 'images/modes/taxi.png', show: 'trip.mode == "mode_taxi"'}}
              %img.img-responsive{ng: {src: 'images/modes/auto.png', show: 'trip.mode == "mode_ride_hailing"'}}
            .col-xs-10.col-height-master{style: 'width: 60em !important;'}
              .row
                .col-xs-12
                  %h4 {{trip.from_place}} to {{trip.to_place}}
              .row
                .col-xs-8
                  %h5.blue-text {{trip.startDesc}}
                .col-xs-4
                  %h5.text-muted.text-right{ng: {show: 'trip.itineraries.length > 1'}} (round trip)
                  %h5.text-muted.text-right{ng: {show: 'trip.itineraries.length == 1'}} (one way)  
          .animate-show.myride-buttons{ng: {show: 'tripDivs.future[$index]'}}   
            .row.even-height-row    
              %span{ng: {include: "'views/emailOrCancel.html'"}}      
      %tab{'heading' => 'History ({{trips.past.length}})', 'active' => 'tabPast'}
        .myride{'index' => '{{$index}}', ng: {init: 'tab = "past"', click: 'selectTrip($event, tab, $index);', repeat: 'trip in trips.past'}}       
          .row
            .col-xs-2.col-height-slave
              %img.img-responsive{ng: {src: 'images/modes/paratransit.png', show: 'trip.mode == "mode_paratransit"'}}
              %img.img-responsive{ng: {src: 'images/modes/transit.png', show: 'trip.mode == "mode_transit"'}}
              %img.img-responsive{ng: {src: 'images/modes/walk.png', show: 'trip.mode == "mode_walk"'}}
              %img.img-responsive{ng: {src: 'images/modes/taxi.png', show: 'trip.mode == "mode_taxi"'}}
              %img.img-responsive{ng: {src: 'images/modes/auto.png', show: 'trip.mode == "mode_ride_hailing"'}}
            .col-xs-10.col-height-master{style: 'width: 60em !important;'}
              .row
                .col-xs-12
                  %h4 {{trip.from_place}} to {{trip.to_place}}
              .row
                .col-xs-8
                  %h5.blue-text {{trip.startDesc}}
                .col-xs-4
                  %h5.text-muted.text-right{ng: {show: 'trip.itineraries.length > 1'}} (round trip)
                  %h5.text-muted.text-right{ng: {show: 'trip.itineraries.length == 1'}} (one way)
          .animate-show.myride-buttons{ng: {show: 'tripDivs.past[$index]'}}
            .row.even-height-row
              .col-xs-12.col-height-slave.text-center
                %span{ng: {include: "'views/emailOrView.html'"}}
    .row.btn-spacing
      .col-md-4.col-md-offset-4.col-xs-12.text-center
        %a.btn.btn-primary.btn-block{href: '', ng: {click: 'reset()'}}
          Plan a new trip
