%form
  .form-group
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h3
          %strong
            When do you want to arrive?
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .cs-two-week-date-picker
          %div{ng: {repeat: 'month in twoWeeksSelector.months' }, class: 'month'}
            %h3
              {{month.name}}
            %div{class: 'week'}
              %div{class: 'day month-heading'} Sun
              %div{class: 'day month-heading'} Mon
              %div{class: 'day month-heading'} Tue
              %div{class: 'day month-heading'} Wed
              %div{class: 'day month-heading'} Thu
              %div{class: 'day month-heading'} Fri
              %div{class: 'day month-heading'} Sat
            %div{ng: {repeat: 'week in month.weeks' }, class: 'week'}
              %div{ class: 'day', 
                    tabindex:'{{day.tabindex}}',
                    ng: { repeat: 'day in week', 
                          click:'selectDepartDate(day)', 
                          disabled:'!day.businessDay', 
                          class:'{ disabled: !day.businessDay, selected: fromMoment.isSame(day.moment, "day")}' } }
                {{day.day}}
    .row{style:'padding:11px 0px;'}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h4{style:'display:inline-block;', ng:{show:'serviceOpen'}                  }
          Service hours {{serviceOpen}} to {{serviceClose}}
      .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %cs-time-input{ng:{model:'fromMoment'}}
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %h3 How long do you want to stay?
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        %select.form-control{required:'true', ng:{model:'$parent.howLong', options:'option.name for option in howLongOptions', change:'updateReturnTime(howLong)', class:'{disabled:!fromMoment.isAfter(moment()) }'}}
    .row{'ng-show'=>'returnMoment'}
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        Return at {{returnMoment | momentHMA}}
    .row.unstuck-foot.btn-spacing
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        .pull-left
          %a.btn{href: "", back: '', ng: {click: "back()", hide:'backToConfirm'}}
            Back
        .pull-right
          %a.btn.btn-primary.btn-next{href: "", ng: {class:'{disabled:(!whenShowNext()) }', click: 'next()'}}
            %span{ng:{hide:'backToConfirm'}}
              Next
            %span{ng:{show:'backToConfirm'}}
              Back to confirm

