%div{style: "margin-top: 1em;"}
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      %h3
        %strong
          Bus & Rail options

  .row.bus-itinerary-details
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .row
        %ul.nav.nav-tabs.bus-nav-tabs{ng:{show:'viewMoreBusOptions'}}
          %li{ng: {repeat:'busOption in transitInfos[0] | limitTo:3', class:'{active: selectedBusOption[0] == $index }'}}
            .btn{ng: {click: 'selectedBusOption[0] = $index' }}
              {{busOption.label}}
        %div{ng:{click:'goViewTransit()'}, style:"overflow:auto; border: 1px solid #d3d3d3; border-top: unset;"}
          .col-xs-10{style:'background-color: #f5f5f5;'}
            %h3{ng: {show: 'transitInfos[1]' } }
              Going
            %h3{ng: {hide: 'transitInfos[1]' } }
              One Way
          .col-xs-2.pull-right.bus-options-right
            %img{ng: {if: 'transitInfos[0][ selectedBusOption[0] ].mode == "BUS"', src: 'images/modes/transit.png'}, style:'width: 50%; vertical-align: middle;'}
            %img{ng: {if: 'transitInfos[0][ selectedBusOption[0] ].mode == "RAIL"', src: 'images/modes/rail.png'}, style:'width: 50%; vertical-align: middle;'}
            %img{ng: {if: 'transitInfos[0][ selectedBusOption[0] ].mode == "SUBWAY"', src: 'images/modes/subway.png'}, style:'width: 50%; vertical-align: middle;'}
            %img{ng: {if: 'transitInfos[0][ selectedBusOption[0] ].mode == "TRAM"', src: 'images/modes/streetcar.png'}, style:'width: 50%; vertical-align: middle;'}
            {{transitInfos[0][ selectedBusOption[0] ].route}}
          .col-xs-12
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-10
                Leave {{transitItineraries[0][ selectedBusOption[0] ].start_time | date:'h:mm a'}}
              .col-xs-2
                {{transitInfos[0][ selectedBusOption[0] ].cost | currency | free}}
              .col-xs-10
                Arrive {{transitItineraries[0][ selectedBusOption[0] ].end_time | date:'h:mm a'}}
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-12
                Trip Time is {{transitItineraries[0][ selectedBusOption[0] ].travelTime}}
              .col-xs-12
                Walking time is {{transitItineraries[0][ selectedBusOption[0] ].walkTimeDesc}}

  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'transitInfos[1]' } }
      .row
        .col-xs-12.text-center
          %h4.text-muted
            {{request.purpose}} {{howLong.minutes | minutes}}

  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{ng: {show: 'transitInfos[1]' } }
      .row
        %ul.nav.nav-tabs.bus-nav-tabs{ng:{show:'viewMoreBusOptions'}}
          %li{ng: {repeat:'busOption in transitInfos[1] | limitTo: 3', class:'{active: selectedBusOption[1] == $index }'}}
            .btn{ng: {click: 'selectedBusOption[1] = $index' }}
              {{busOption.label}}
        %div{ng: {click: 'goViewTransit()' }}
          .col-xs-10{style:'background-color: #f5f5f5;'}
            %h3 Returning
          .col-xs-2.pull-right.bus-options-right
            %img{ng: {if: 'transitInfos[1][ selectedBusOption[1] ].mode == "BUS"', src: 'images/modes/transit.png'}, style:'width: 50%; vertical-align: middle;'}
            %img{ng: {if: 'transitInfos[1][ selectedBusOption[1] ].mode == "RAIL"', src: 'images/modes/rail.png'}, style:'width: 50%; vertical-align: middle;'}
            %img{ng: {if: 'transitInfos[1][ selectedBusOption[1] ].mode == "SUBWAY"', src: 'images/modes/subway.png'}, style:'width: 50%; vertical-align: middle;'}
            %img{ng: {if: 'transitInfos[1][ selectedBusOption[1] ].mode == "TRAM"', src: 'images/modes/streetcar.png'}, style:'width: 50%; vertical-align: middle;'}
            {{transitInfos[1][ selectedBusOption[1] ].route}}
          .col-xs-12
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-10
                Leave {{transitItineraries[1][ selectedBusOption[1] ].start_time | date:'h:mm a'}}
              .col-xs-2
                {{transitInfos[1][ selectedBusOption[1] ].cost | currency | free}}
              .col-xs-10
                Arrive {{transitItineraries[1][ selectedBusOption[1] ].end_time | date:'h:mm a'}}
            .row{style:'padding: 0px 0px 10px 10px;'}
              .col-xs-12
                Trip Time is {{transitItineraries[1][ selectedBusOption[1] ].travelTime}}
              .col-xs-12
                Walking time is {{transitItineraries[1][ selectedBusOption[1] ].walkTimeDesc}}
  .row
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      %h4.btn-link{ng: {hide: 'viewMoreBusOptions', click:'viewMoreBusOptions=true'} }
        View more bus & rail options
  .row.btn-spacing
    .col-xs-12.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.text-center
      .pull-left
        %a.btn{href:'', back:'', ng:{click: 'back()'}}
          Back
      .pull-right
        %a.btn.btn-primary{href: "", ng: {show:'loggedIn', click: "saveBusTrip()"}}
          Save this transit trip

