.plan
  .container
    %span{'us-spinner' => '', 'spinner-key' => "spinner-1"}
    .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
      %b API Error :
      %span {{ apiStatus }}

    .depart-date{ng: {show: 'step==="fromDate"'}}
      %form
        .form-group
          .text-center
            %h4{ng: {show: 'planService.username'}} Hi {{ planService.username }}!
            %h4 What day do you want to leave?
          .row
            .col-md-4.col-md-offset-4.col-xs-12
              %p.input-group
                %input.form-control{'type' => 'text', 'datepicker-popup' => "MMMM-dd-yyyy", 'min-date' => 'minDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'fromDate',}
                  %span.input-group-btn
                    %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                      %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="fromTimeType"'}}
      .text-center
        %h4 What time are you leaving?
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("asap")', show: 'showAsap'}}
              As soon as possible
            %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("depart")'}}
              Enter departure time
            %a.btn.btn-success.btn-block{ng: {click: 'specifyFromTimeType("arrive")'}}
              Enter arrival time

    .depart-time{ng: {show: 'step==="fromTime"'}}
      %form
        .form-group
          %h4 What time would you like to {{ planService.fromTimeType }}?
        .row
          .text-center
            %timepicker.timepicker{ng: {model: 'fromTime'}}
            %h4.btn-danger{ng: {show: 'disableNext'}} You must select a time in the future!


    .use-current-location{ng: {show: 'step==="start_current"'}}
      .text-center
        %h4 Start at your current location?
        %a.btn.btn-success{ng: {click: 'getCurrentLocation()'}}
          Yes
        %a.btn.btn-success{ng: {href: '#/plan/from'}}
          No

    .map-wrapper{ng: {show: 'step==="from_confirm" && showConfirmLocationMap'}}
      .text-center.from-location{name: 'from_location_confirm'}
        %h5 Here's the address we found for your location:
        %h5 {{ planService.from }}
        %div.map-canvas{'ui-map' => 'confirmFromLocationMap', 'ui-options' => 'mapOptions', 'style' => 'margin-bottom: 10px'}
        .col-md-4.col-md-offset-4.col-xs-12
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Yes, use this address
          %a.btn.btn-success.btn-block{ng: {click: 'overrideCurrentLocation()'}}
            No, I'll enter the address myself

      %p
        {{greeting}}

    %form.from-location{name: 'from_location', ng: {show: 'step==="from"'}}
      .text-center
        %h4 Where are you starting from?
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            %div#overlayWrapper
              %autocomplete{'clear-input' => '', 'inputclass' => 'clearable', 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'fromChoice'}}
        %div.map-canvas{'ui-map' => 'fromLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    %form.to-location{ng: {show: 'step==="to"'}}
      .text-center
        %h4 Where are you going?
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            %autocomplete{'clear-input' => '', 'disable-filter' => 'true', 'data' => 'locations', 'on-type'=> 'getLocations', 'on-select' => 'selectPlace', :ng => {:model => 'toChoice'}}
        %div.map-canvas{'ui-map' => 'toLocationMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

    .need-return-trip{ng: {show: 'step==="needReturnTrip"'}}
      .text-center
        %h4 Do you need a return trip?
        %a.btn.btn-success{ng: {href: '#/plan/returnDate'}}
          Yes
        %a.btn.btn-success{ng: {href: '#/plan/confirm'}}
          No

    .return-date{ng: {show: 'step==="returnDate"'}}
      %form
        .text-center
          %h4 What day do you want to return?
          .row
            .col-md-4.col-md-offset-4.col-xs-12
              %p.input-group
                %input.form-control{'type' => 'text', 'datepicker-popup' => "MMMM-dd-yyyy", 'min-date' => 'fromDate', 'is-open' => 'opened', 'datepicker-options' => 'dateOptions', 'close-text' => 'Close', 'ng-model' => 'returnDate',}
                  %span.input-group-btn
                    %button.btn.btn-default{'type' => 'button', 'ng-click' => 'openCalendar($event)'}
                      %i.glyphicon.glyphicon-calendar

    .depart-time{ng: {show: 'step==="returnTimeType"'}}
      .text-center
        %h4 What time are you returning?
        .row
          .col-md-4.col-md-offset-4.col-xs-12
            %a.btn.btn-success.btn-block{ng: {click: 'specifyReturnTimeType("depart")'}}
              Enter departure time
            %a.btn.btn-success.btn-block{ng: {click: 'specifyReturnTimeType("arrive")'}}
              Enter arrival time

    .return-time{ng: {show: 'step==="returnTime"'}}
      .text-center
        %h4 What time would you like to {{ planService.returnTimeType }} on your return trip?
        .row
          .col-md-4.col-md-offset-4.col-xs-6.col-xs-offset-3
            %timepicker.timepicker{ng: {model: 'returnTime'}}
            %h4.btn-danger{ng: {show: 'disableNext'}} You must select a time after your outbound trip!

    .purpose{ng: {show: 'step==="purpose"'}}
      .text-center
        %h4 What is your trip purpose?
      .row
        .col-md-8.col-md-offset-2
          .col-xs-12.col-md-6{ng: {repeat: 'purpose in purposes'}}
            %a.btn.btn-success.btn-block{style: 'white-space: normal; margin-bottom:4px;', ng: {click: 'specifyTripPurpose("{{ purpose.name }}")'}}
              {{ purpose.name }}



    .confirm{ng: {show: 'step==="confirm"'}}
      %h3.text-center.nomargin
        My ride request
      .row.truncate
        .col-xs-12.col-md-6.col-md-offset-3
          .row.row-eq-height
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                From
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.fromLine1}}
              %h5.text-muted.text-left
                {{request.fromLine2}}

          .row.row-eq-height
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                To
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.toLine1}}
              %h5.text-muted.text-left
                {{request.toLine2}}

          .row.row-eq-height{ng: {show: '!request.roundtrip || request.sameday'}}
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                When
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.when1}}
                %h5.text-muted.text-left
                  {{request.when2}}
                %h5.text-muted.text-left{ng: {show: 'request.when3'}}
                  {{request.when3}}

          %div{style: "border-radius: 5px; border: 1px solid grey; margin-left: -15px; margin-right: -15px;", ng: {show: 'request.roundtrip && !request.sameday'}}
            .row.row-eq-height{style: "border:none; margin-left: 0px; margin-right: 0px;"}
              .col-xs-3.col-md-2
                %p.text-left.text-muted
                  Depart
              .col-xs-9.col-md-10
                %h4.text-left
                  {{request.when1}}
                %h5.text-muted.text-left
                  {{request.when2}}
            .row.row-eq-height{style: "border:none; margin-left: 0px; margin-right: 0px;"}
              .col-xs-3.col-md-2
                %p.text-left.text-muted
                  Return
              .col-xs-9.col-md-10
                %h4.text-left
                  {{request.when3}}
                %h5.text-muted.text-left
                  {{request.when4}}

          .row.row-eq-height
            .col-xs-3.col-md-2
              %p.text-left.text-muted
                Purpose
            .col-xs-9.col-md-10
              %h4.text-left
                {{request.purpose}}
      .row
        .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4.text-center
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Search for ride!
          %a.btn-block{"ng-href" => "#/plan/from"}
            No, change my request





    .purpose{ng: {show: 'step==="list_itineraries"'}}
      %h2 Here are your trip options:
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectTransit()'}}
          %img.col-xs-1{ng: {src: 'images/modes/transit.png'}}
          %h3.col-xs-2
            Bus
          %h3.col-xs-5
            Fare: $1.20 - $5.40
        .col-xs-3
          %span.col-xs-1.fa-stack.fa-lg
            %i.fa.fa-circle-thin.fa-stack-2x
            %i.fa.fa-chevron-right.fa-stack-1x
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectSharedRide()'}}
          %img.col-xs-1{ng: {src: 'images/modes/paratransit.png'}}
          %h3.col-xs-2
            Shared Ride
          %h3.col-xs-5
            Fare: $4.35
          .col-xs-4
            .col-xs-12
              Leave: 4:05PM
            .col-xs-12
              Arrive: 5:36PM
            .col-xs-12
              Travel Time: 1 hour, 31 minutes
      .row
        .col-md-2.col-md-offset-5
          %a.btn.btn-lg.btn-success.btn-block{ng: {click: ''}}
            More options

    .purpose{ng: {show: 'step==="bus_options"'}}
      %h2 Bus options:
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectTransit()'}}
          %img.col-xs-1{ng: {src: 'images/modes/transit.png'}}
          %h3.col-xs-4
            Rabbit Transit - Line 2N
          %h3.col-xs-3
            Fare: $1.20
          .col-xs-4
            .col-xs-12
              Leave: 4:05PM
            .col-xs-12
              Arrive: 5:36PM
            .col-xs-12
              Travel Time: 1 hour, 31 minutes
      .row
        .col-xs-12.well.text-left{ng: {click: 'selectTransit()'}}
          %img.col-xs-1{ng: {src: 'images/modes/transit.png'}}
          %h3.col-xs-4
            Rabbit Transit - Line 4E
          %h3.col-xs-3
            Fare: $5.40
          .col-xs-4
            .col-xs-12
              Leave: 4:15PM
            .col-xs-12
              Arrive: 4:40PM
            .col-xs-12
              Travel Time: 25 minutes
      .row
        .col-xs-4.col-xs-offset-4
          %a.btn.btn-lg.btn-success.btn-block{ng: {click: ''}}
            More options

    .depart-time{ng: {show: 'step==="sharedride_options_1"'}}
      %form
        .form-group
          %h2 Will anyone be riding with you today?
        .row
          .col-md-6.col-md-offset-3.col-xs-12
            %a.btn.btn-success.btn-block{ng: {click: 'specifySharedRideCompanion("true")'}, style: 'white-space: normal; margin-bottom:4px;'}
              Yes, I have a companion or escort with me
            %a.btn.btn-success.btn-block{ng: {click: 'specifySharedRideCompanion("false")'}, style: 'white-space: normal; margin-bottom:4px;'}
              No, I'm on my own

    .depart-time{ng: {show: 'step==="sharedride_options_2"'}}
      %form
        .form-group
          %h4 If you have any special instructions for the driver, please enter them below:
        .row
          .form-group
            %textarea.form-control{rows: '5'}

    .depart-time{ng: {show: 'step==="book_shared_ride"'}}
      %h2 Are you ready to book this ride?
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ getFromDateString() }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Type
            .col-xs-9
              Shared Ride

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Fare
            .col-xs-9
              $4.35

      .row
        .col-md-2.col-md-offset-5
          %a.btn.btn-success.btn-block{ng: {click: 'next()'}}
            Yes, book it!
          %a.btn.btn-warning.btn-block{"ng-href" => "#/plan/fromDate"}
            No, change my request
          %a.btn.btn-danger.btn-block{ng: {click: ''}}
            Cancel my request

    .depart-time{ng: {show: 'step==="confirm_shared_ride"'}}
      .alert.alert-success
        %h4 Success!
        %h5 Your trip is booked
      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              From
            .col-xs-9
              {{ planService.from }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              To
            .col-xs-9
              {{ planService.to }}
              .pull-right
                %i.fa.fa-map-marker

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Depart At
            .col-xs-9
              {{ getFromDateString() }}

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Type
            .col-xs-9
              Shared Ride

      .row.card
        .col-xs-12
          .row
            .col-xs-3.title
              Fare
            .col-xs-9
              $4.35

      .row
        .col-md-6.col-md-offset-3.col-xs-12
          %a.btn.btn-success.btn-block{ng: {click: ''}}
            Email my itinerary
          %a.center-block.btn.btn-success{"ng-href" => "#/"}
            Return to home screen

  .container
    .row{style: 'margin-top: 10px'}
      .col-md-8.col-md-offset-2.col-xs-12
        .pull-left
          %a.btn.btn-success{ ng: {show: 'showBack',click: "back()"}}
            %span{ng: {include: "'views/button-chevron-left.html'"}}
            Back
        .pull-right
          %a.btn.btn-success{ng: {show: 'showNext', click: 'next()', disabled: 'disableNext'}}
            Next
            %span{ng: {include: "'views/button-chevron-right.html'"}}
          %a.btn.btn-success{ng: {href: "#/plan2", show: 'readyToPlan()'}}
            Plan My Trip
            %span{ng: {include: "'views/button-chevron-right.html'"}}

