.profile
  .col-xs-12.col-md-6.col-md-offset-3
    .row
      %h5.text-muted
        My Profile
    .row
      %h3
        {{first_name}} {{last_name}}
    .row{style: 'margin-top: 1em'}
      %h4.text-muted
        Account
    .row{style: 'border: 1px solid grey;'}
      .row{style: 'margin: 0px;'}
        .col-xs-3.text-right.text-muted
          %h4
            Ride ID:
        .col-xs-9
          %h4
            {{sharedRideId}}
      .row{style: 'border-top: 1px solid grey; margin: 0px;'}
        .col-xs-3.text-right.text-muted
          %h4
            DOB:
        .col-xs-9
          %span
            %i.fa.fa-circle
            %i.fa.fa-circle
            \/
            %i.fa.fa-circle
            %i.fa.fa-circle
            \/
            %i.fa.fa-circle
            %i.fa.fa-circle
            %i.fa.fa-circle
            %i.fa.fa-circle
      .row{style: 'border-top: 1px solid grey; margin: 0px;', ng: {show: 'email_editable == true'}}
        .col-xs-3.text-right.text-muted
          %h4
            Email:
        .col-xs-9
          %h4{ng: {show: 'editable == false'}}
            {{email}}
          %input.form-control{ng: {model: 'email', show: 'editable == true'}}
      .row{ng: {show: 'invalidEmail == true'}}
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
          Please enter only valid email addresses

    .row{style: 'margin-top: 1em'}
      %h4.text-muted
        Walking Preferences
    .row{style: 'border: 1px solid grey;'}
      .row{style: 'margin: 0px;'}
        .col-xs-3.text-right.text-muted
          %h4
            Speed:
        .col-xs-9
          %h4
            %span{ng: {show: '!editable && !walkingSpeed'}}
              Average
            %span{ng: {show: '!editable && walkingSpeed'}}
              {{walkingSpeed}}
            %select{style: 'width: 100%', ng: {show: 'editable', model: 'walkingSpeed', options: 'speed for speed in speeds'}}
              %option{value: '', disabled: '', selected: ''}
                Select your walking speed
      .row{ng: {show: 'invalidSpeed == true'}}
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
          Please specify a walking speed
      .row{style: 'border-top: 1px solid grey; margin: 0px;'}
        .col-xs-3.text-right.text-muted
          %h4
            Distance:
        .col-xs-9
          %h4
            %span{ng: {show: '!editable && !walkingDistance'}}
              2 miles
            %span{ng: {show: '!editable && walkingDistance'}}
              {{walkingDistance}}
            %select{style: 'width: 100%', ng: {show: 'editable', model: 'walkingDistance', options: 'distance for distance in distances'}}
              %option{value: '', disabled: '', selected: ''}
                Select your maximum walking distance
      .row{ng: {show: 'invalidDistance == true'}}
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
          Please specify a maximum walking distance
    .row{style: 'margin-top: 1em'}
      .col-xs-12.col-md-6.col-md-offset-3
        %a.btn.btn-primary.btn-block{href: '', ng: {click: 'toggleEdit()', show: '!editable'}}
          Edit profile
        %a.btn.btn-primary.btn-block{href: '', ng: {click: 'toggleEdit()', show: 'editable'}}
          Save changes
