.row.marketing
  .col-xs-12
    .jumbotron
      %h1 Introducing FindMyRide PA

      %p You can create and submit your application for shared ride services right on your mobile device. Once we receive it, we'll need to ask for some additional information - a driver's license, and perhaps some information from your doctor.

      %a.center-block.btn.btn-success{"ng-href" => "#/questions/0"}
        Get Started
        / TODO This should be a directive methinks
        %span{ng: {include: "'views/button-chevron-right.html'"}}

      %a.center-block.btn.btn-success{"ng-href" => "#/"}
        Not Now
        %span{ng: {include: "'views/button-chevron-right.html'"}}
