#transit
  .container
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        .row
          .col-sm-6.col-xs-8
            %h3
              %span
                {{startDay}}
              %span{style:'white-space:nowrap;'}
                {{startDate}}
          .col-sm-6.col-xs-4.text-right
            %span{style:'white-space:nowrap;line-height:34px;'}
              {{startTime}}
            %span{style:'white-space:nowrap;'}
              to {{endTime}}

    .row
      .col-md-8.col-md-offset-2.col-xs-12{style:' background-color: rgb(205,254,206); padding:10px;'}
        %h1
          %span{ng: {show: 'mode === "transit"'}}
            Transit Ride
          %span{ng: {show: 'mode === "walk"'}}
            Walk
          %span{style:'font-size: 22px;', ng: {show: 'transitSaved || walkSaved'}} 
            (saved)
          %span{style: 'font-size: 22px; color: red;', ng: {show: 'transitCancelled || walkCancelled'}}
            (cancelled)
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        %h3{ng:{show:'transitInfos[1] || walkItineraries[1]'}}
          Outgoing Trip
        %h3{ng:{hide:'transitInfos[1] || walkItineraries[1]'}}
          One way Trip
      .col-md-8.col-md-offset-2.col-xs-12
        %span{ segmentid:'0', ng:{ include: "'views/transit-embedded.html'", controller:'TransitController'}}

    .row{ng:{show:'transitInfos[1] || walkItineraries[1]'}}
      .col-md-8.col-md-offset-2.col-xs-12
        %h3
          Return Trip Here
      .col-md-8.col-md-offset-2.col-xs-12
        %span{ segmentid:'1', ng:{ include: "'views/transit-embedded.html'", controller:'TransitController'}}

    %div{style: 'margin-top: 1em', ng: {show: 'showEmail'}}
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left
          Email your ride details to a friend (or yourself).
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
          Use a comma to separate multiple addresses
      .row
        .col-xs-8.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
          %input.form-control{style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailString'}}
        .col-xs-4.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
          %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail($event)'}}
            %i.fa.fa-envelope-o{style:'color: white;'}
              %span
                Send
      .row{ng: {show: 'invalidEmail == true'}}
        .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
          Please enter only valid email addresses

    .row.unstuck-foot.btn-spacing{style: 'margin-top: 1.5em', ng: {show: 'transitSaved'}}
      .col-md-8.col-md-offset-2.col-xs-12.card{ng:{include:"'views/itinerary-notification.html'"}}
    .row.unstuck-foot.btn-spacing{style: 'margin-top: 20px'}
      .col-md-8.col-md-offset-2.col-xs-12
        .row{ng:{show: 'mode === "transit"'}}
          %a.btn.btn-primary.btn-block{href: "", ng: {click: 'toggleEmail($event);', show: 'transitSaved && !transitCancelled'}}
            Email this ride        
        .row{ng:{show: 'mode === "walk"'}}
          %a.btn.btn-primary.btn-block{href: "", ng: {click: 'toggleEmail($event);', show: 'walkSaved && !walkCancelled'}}
            Email this ride
      .col-md-8.col-md-offset-2.col-xs-12{ng: {show: 'loggedIn' } }  
        .row{ng:{show: 'mode === "transit"'}}
          %a.btn.btn-primary.btn-block{href: "", ng: {click: 'saveBusOrRailTrip()', hide:'transitSaved || transitCancelled'}}
            Save to my rides
          %a.btn.btn-primary.btn-block{href: "", style:'background-color:red;',ng: {click: 'cancelThisBusOrRailTrip()', show: 'transitSaved'}}
            Cancel this ride
          
        .row{ng:{show: 'mode === "walk"'}}
          %a.btn.btn-primary.btn-block{href: "", ng: {click: 'saveWalkTrip()', hide:'walkSaved || walkCancelled'}}
            Save to my rides
          %a.btn.btn-primary.btn-block{href: "", style:'background-color:red;',ng: {click: 'cancelThisWalkTrip()', show: 'walkSaved'}}
            Cancel this ride

        .row{ng: {show:'transitCancelled || walkCancelled'}}
          %a.btn.btn-primary.btn-block{href: "/#/plan/my_rides", }
            View my saved rides
        
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          .pull-left
            %a.btn{href: "", back: '', ng: {click: "back()", hide:'transitSaved || transitCancelled || walkSaved || walkCancelled'}}
              Back
            %a.btn{href: "", ng: {click: "logout()", show:'loggedIn && (transitSaved || transitCancelled || walkSaved || walkCancelled)'}}
              Logout
          .pull-right
            %a.btn.btn-link{ng: {click: "reset()"}}
              Book another ride

