.plan
  .container
    %span{'us-spinner' => '', 'spinner-key' => "spinner-1"}
    .alert.alert-danger.text-center{"ng-show" => "apiError", :role => "alert"}
      %b API Error :
      %span {{ apiStatus }}
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
      .row{style: "margin: 0px; padding: 0px"}
        .col-xs-2.col-lg-1
          %img{style: '', ng: {src: 'images/modes/transit.png'}}
        .col-xs-10.col-lg-11{style: 'margin-left: -.5em; margin-top: -.5em;'}
          .row
            .col-xs-12
              %h3{style: 'margin-left:5px;'} {{message}}:
          .row
            .col-xs-12.text-muted
              %h4{style: 'margin-left:5px;'} Click for details

      .row
        .bus.rounded-border{style: "padding: 1em", ng: {repeat: 'transitInfo in transitInfos', click: 'viewTransitTrip(transitInfo.id, segmentid);'}}
          .row{style: "background-color: #F2F2F2; margin: -1em;"}
            .col-xs-8{style: "padding-top: 0.5em;"}
              %h4{style: "font-weight: bold;"} {{transitInfo.label}}
            .col-xs-3.pull-right{style: 'border-left: 1px solid grey; border-bottom: 1px solid grey;  padding: .5em; width: auto; background-color: white;'}
              .pull-right.blah{style: 'height: 2em;'}
                %img{style: 'max-height:100%; ', ng: {src: 'images/modes/transit.png'}}
                %span{style: "font-size: large; vertical-align: bottom;"} {{transitInfo.route}}
          .row{style: "margin-top: .5em"}
            %h4.col-xs-12.text-muted.text-right
              {{transitInfo.cost | currency}}
          .row{style: "margin-top: .5em"}
            .col-xs-12.text-muted
              {{transitInfo.startDesc}}
              %span.fa.fa-arrow-right
              {{transitInfo.endDesc}}
          .row
            .col-xs-12.text-muted{style: 'font-size: 1em'}
              Total trip time is {{transitInfo.travelTime}}
          .row
            .col-xs-12.text-muted{style: 'font-size: 1em'}
              Walking time is {{transitInfo.walkTime}}

  .container.sticky-footer
    .row{style: 'margin-top: 10px'}
      .col-md-8.col-md-offset-2.col-xs-6.col-xs-offset-3
        .pull-left
          %a.btn-back{back: '', ng: {click: "back()"}}
            %span{ng: {include: "'views/button-chevron-left.html'"}}
            Back
