.container
  .row{style: "margin: 0px; padding: 0px"}
    .col-xs-2.col-lg-1
      %img{style: '', ng: {src: 'images/modes/transit.png'}}
    .col-xs-10.col-lg-11
      .row
        .col-xs-12
          %h2 Bus Options:
      .row
        .col-xs-12.text-muted
          %h3 Click to select one

  .bus{style: 'border: 1px solid grey;'}
    .row
      .col-xs-12
        .blah.pull-right{style: 'border-left: 1px solid grey; border-bottom: 1px solid grey; padding: 10px'}
          %img{style: '', ng: {src: 'images/modes/transit.png'}}
          %span 505

    .row
      .col-xs-6.col-xs-offset-1{style: "font-size: large"}
        blah
      .col-xs-5.text-muted{style: "font-size: large"}
        blah
