%div{class:'cs-two-week-date-picker {{class}}', id:'{{id}}'}
  %div{ ng: {repeat:'month in months'}}
    .header
      %span
        {{month.name.format("MMMM, YYYY")}}
    .week.names{ng:{display:'$first'}}
      %span{class:"day"} Sun
      %span{class:"day"} Mon
      %span{class:"day"} Tue
      %span{class:"day"} Wed
      %span{class:"day"} Thu
      %span{class:"day"} Fri
      %span{class:"day"} Sat
    %div
      .week{ng:{repeat:"week in month.weeks"}}
        %span{class:"day", ng:{class:"{ today: day.isToday, disabled:($first || $last), 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }", click:"select(day)", repeat:"day in week.days"}} {{day.number}}

