#transit
  .container
    .row
      .col-md-6.col-md-offset-3.col-xs-12
        %h1
          %strong
            Uber
      .col-md-8.col-md-offset-2.col-xs-12
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            Uber is a ride sharing service. Drivers are people from the community who use their own cars to provide rides to others.
          .col-md-8.col-md-offset-2.col-xs-12
            To request an Uber ride, you'll need to download the App.
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            %hr
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            %h3.text-muted{style:'display:inline-block'}
              Estimated fare is:
            %h3.text-center{style:'display:inline-block'}
              {{uberItinerary.cost | roundUp | currency}} 
              %span{'ng-show':'uberItinerary.returnItinerary'}
                (Each Way)
        .row{style:'padding:20px 0px;'}
          .col-md-8.col-md-offset-2.col-xs-12
            %div
              %span{style:'padding-right:4px;'}
                Going to:
              %span
                {{uberItinerary.destination.line1}} {{uberItinerary.destination.line2 | noCountry}}
            %div
              %span{style:'padding-right:4px;'}
                From:
              %span
                {{uberItinerary.origin.line1}} {{uberItinerary.origin.line2 | noCountry}}
        .row{style:'padding:20px 0px;'}
          .col-md-8.col-md-offset-2.col-xs-12.text-center
            %a.btn.btn-primary.btn-block{ng: {href: "https://m.uber.com/ul?&client_id=Qu7RDPXW65A6G-JqqIgnbsfYglolUTIm&action=setPickup&pickup[latitude]={{uberItinerary.start_location.geometry.location.lat}}&pickup[longitude]={{uberItinerary.start_location.geometry.location.lng}}&pickup[formatted_address]={{uberItinerary.start_location.formatted_address | encodeURI}}&dropoff[latitude]={{uberItinerary.end_location.geometry.location.lat}}&dropoff[longitude]={{uberItinerary.end_location.geometry.location.lng}}&dropoff[formatted_address]={{uberItinerary.end_location.formatted_address | encodeURI}}&product_id={{uberItinerary.product_id}}"}}
              Open Uber App
        .row{style: 'margin-top: 20px', ng: {hide: "savedItineraryView"}}
          %div{style: 'margin-top: 1em', ng: {show: 'showEmail'}}
            .row
              .col-xs-12.col-sm-8.col-sm-offset-2.text-left
                Email your ride details to a friend (or yourself).
            .row
              .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
                Use a comma to separate multiple addresses
            .row
              .col-xs-8.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
                %input.form-control{style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailString'}}
              .col-xs-4.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
                %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail($event)'}}
                  %i.fa.fa-envelope-o{style:'color: white;'}
                    %span
                      Send
            .row{ng: {show: 'invalidEmail == true'}}
              .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
                Please enter only valid email addresses

          .btn-spacing
            .col-md-8.col-md-offset-2.col-xs-12
              %a.btn.btn-primary.btn-block{href: "", ng: {click: 'toggleEmail($event);', show: 'uberSaved && !uberCancelled'}}
                Email this ride        
            .col-md-8.col-md-offset-2.col-xs-12{ng: {show: 'loggedIn' } }  
              %a.btn.btn-primary.btn-block{href: "", style:'background-color:red;', ng: {click: "cancelThisUberTrip()", show: "uberSaved"}}
                Cancel this ride
            .col-md-8.col-md-offset-2.col-xs-12.unstuck-foot
              .pull-left
                %a.btn{href: "", back: '', ng: {click: "back()", hide:'uberSaved || uberCancelled'}}
                  Back
                %a.btn{href: "", ng: {click: "logout()", show:'loggedIn && (uberSaved || uberCancelled)'}}
                  Logout
              .pull-right
                %a.btn.btn-primary{href: "", ng: {click: "saveUberTrip()", hide: "!loggedIn || uberSaved"}}
                  Save this Uber ride

