.container#walk{style: 'padding: 0;'}
  .row{style: 'margin-top: 1em;', ng: {show: '!selected'}}
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12.text-center
      %a.btn.btn-success.btn-block{href: '', ng: {click: 'selectWalkingTrip()'}}
        Select this walk
  .row{style: 'margin-top: 1em;', ng: {show: 'selected == true'}}
    .row{style: 'margin-bottom: 1em;', ng: {show: 'email'}}
      .col-xs-12.text-center{style: 'padding: 0;'}
        %h2 Your trip has been saved
    .col-md-8.col-md-offset-2.col-xs-12
      .row{ng: {show: 'email'}}
        .col-xs-12.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.text-left
          %a.btn.btn-success.btn-block{href: '', ng: {click: 'reset()'}}
            Plan a new trip
          %a.btn-block.text-center{ng: {href: '#/plan/my_rides'}}
            View my saved rides 
      .row{ng: {show: '!email'}}
        .col-xs-12.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.text-left
          %a.btn.btn-success.btn-block{href: '', ng: {click: 'reset()'}}
            Plan a new trip
          %a.btn-block.text-center{href: '', ng: {click: 'toggleEmail()'}}
            Email this Ride
  %div{style: 'margin-top: 1em', ng: {show: 'showEmail'}}
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-left
        Email your ride details to a friend (or yourself).
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
        Use a comma to separate multiple addresses
    .row
      .col-xs-10.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
        %input.form-control{style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailString'}}
      .col-xs-2.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
        %a.btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail()'}}
          %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
            %span
              Send
    .row{ng: {show: 'invalidEmail == true'}}
      .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
        Please enter only valid email addresses
.walkitinerary#walk{ng: {repeat: 'itinerary in walkItineraries'}}
  .row{ng: {show: '$index == 0'}}
    .col-xs-12.col-md-8.col-md-offset-2{style: 'padding: 0;'}
      .row
        .col-xs-12
          %h2{style: "margin-bottom:1em;"} Trip Details
          %h2 Outbound Trip
  .row{style: 'margin-top: 1em;', ng: {show: '$index == 1'}}
    .col-xs-12.col-md-8.col-md-offset-2{style: 'padding: 0;'}
      .row
        .col-xs-12
          %h2 Return Trip
  .row
    .col-xs-12.col-md-8.col-md-offset-2{style: 'padding: 0;'}
      .row
        .col-xs-12.text-muted
          {{itinerary.dayAndDateDesc}}
      .row
        .col-xs-10.text-left
          %h4
            {{itinerary.travelTime}} (
            %img.walk-time-icon{ng: {src: 'images/modes/walk.png'}}
            {{itinerary.walkTimeDesc}})
        .col-xs-2.text-right
          %h4{style: 'float:right; vertical-align: bottom;'} Free
  .row
    .col-xs-12.col-md-8.col-md-offset-2.walk-body
      .border-between.timeline{'index' => '{{$index}}', ng: {click: 'test()', repeat: 'leg in itinerary.json_legs track by $index', class: '{"mode_bus": leg.mode == "BUS", "mode_walk": leg.mode == "WALK"}'}}
        .row.even-height-row
          .col-xs-2.right-side
            %h4 {{leg.startTimeDesc}}
          .col-xs-1.right-side
            %i.fa.fa-circle-o.fa-lg.waypoint
          .col-xs-9.leg-info.pull-left.left-side
            .walk-info{ng: {show: 'leg.mode == "WALK"'}}
              .row
                .leg-info.col-xs-12.leg-header
                  %h4 {{leg.from.name}}
              .row
                .leg-info.col-xs-12
                  %h4.text-muted Walk
                  %h4.text-muted {{leg.distanceDesc}} Miles ({{leg.travelTime}})
              .animate-show.blah{ng: {hide: 'showDiv[$index]'}}
                .row{ng: {repeat: 'step in leg.steps'}}
                  .leg-info.col-xs-12{style: 'padding-left: 50px;'}
                    %img.walk-arrow{height: '30px', width: '30px', ng: {src: 'images/transit/{{step.arrow}}.png'}}
                    .row
                      .leg-info.col-xs-12
                        .walk-step
                          {{step.description}}
                    .row.text-muted
                      .leg-info.col-xs-12
                        .walk-step{ng: {show: '!$last'}}
                          {{step.distanceDesc}} miles
                        %div{ng: {show: '$last'}}
                          {{step.distanceDesc}} miles
      .border-between.timeline{style: 'margin-bottom: 1em;'}
        .row.even-height-row
          .col-xs-2.right-side
            %h4 {{itinerary.destinationTimeDesc}}
          .col-xs-1.right-side
            %i.destination.fa.fa-dot-circle-o.fa-lg.waypoint{style: 'margin-left: -18px;'}
          .col-xs-9.leg-info.pull-left.left-side
            .bus-info
              .row
                .leg-info.col-xs-12.leg-header
                  %h4 {{itinerary.destinationDesc}}

.row{style: 'margin-top: 1em;'}
  .col-md-8.col-md-offset-2.col-xs-12
    .row{ng:{show: '!email'}}
      .col-xs-6.col-xs-offset-3.text-center
        %a.btn.btn-success.btn-block{ng: {click: 'emailWalkItinerary()'}}
          %i.fa.fa-share-square-o
          Email

.container.sticky-footer
  .row{style: 'margin-top: 10px'}
    .col-md-8.col-md-offset-2.col-xs-6.col-xs-offset-3
      .pull-left
        %a.btn-back{href: "", back: '', ng: {click: "back()"}}
          %span{ng: {include: "'views/button-chevron-left.html'"}}
          Back
